[2017-01-06 17:56] natefaubion commented on #1183
I don't think this really helps anything. It's kind of like renaming to `foo1` or `foo2`. The positions aren't stable, so what do you gain? I guess you could do some `IN` type query or something with it.

There's not really a way to avoid this except by namespacing everything or keeping a history of renamings in the model state, which I'm unlikely to do at this moment.

[2017-01-06 18:06] jdegoes commented on #1183
You can treat it as a single value, you just basically get the "non-determinism" effect, the whole query repeated for each unique value. Again, not saying it's necessarily better than the alternative. 😄

OK, well, path of least resistance for now (second priority: least pain of future migration).

[2017-01-08 14:50] pint12 opened #1326 "how to import a workspace"
is it possible to import a work space from another instance ?

i could not find something on the user guide

[2017-01-08 15:36] jdegoes commented on #1326
This requires some additional development in Quasar. That issue is tracked [here](https://github.com/quasar-analytics/quasar/issues/1300). Closing this one for now.

For now, the process can be done manually outside the tool.

[2017-01-08 15:36] #1326 closed

[2017-01-08 15:47] pint12 commented on #1326
how?

[2017-01-08 15:59] jdegoes commented on #1326
You have to do it using the database's facilities to replicate data (the workspaces are stored in the database).

[2017-01-10 01:37] #1293 closed

[2017-01-10 02:59] #1225 closed

[2017-01-10 18:53] #1183 closed

[2017-01-10 18:53] #1237 closed

[2017-01-10 18:53] #1307 closed

[2017-01-10 18:53] #1321 closed

[2017-01-10 19:07] natefaubion opened #1329 "Showing dialog breaks next action card"
Steps to reproduce:

1. Go to next action card
2. Click on disabled action
3. Dismiss error dialog
4. Next actions disappear

If you resize, forcing it to recalculate dimensions, it comes back.

[2017-01-10 19:10] natefaubion commented on #1329
This one is strange, because I can't always reproduce it.

[2017-01-10 19:11] natefaubion commented on #1329
Ah, it seems to get old dimensions, maybe? Inside a dashboard, I resized a cell, did the steps above, and it popped back to the old dimensions before I resized it.

[2017-01-10 19:14] natefaubion commented on #1329
![next-action-recalc](https://cloud.githubusercontent.com/assets/144058/21820752/a1e4559c-d736-11e6-841f-c84e3e87ff2a.gif)

[2017-01-10 19:45] beckyconning commented on #1329
Ah yeah i know what's going on. Thanks.

[2017-01-10 20:25] natefaubion commented on #1238
This one might require a little thought. "Dimensions" are really functions over the data for extracting some value (though we just represent them as `JCursor`s). Is the intention that the dimension picker should only accept variables that are SQL^2 identifiers? That's the only thing that might make sense, but it isn't all that useful. For example, say you have a drop down populated by a query, and

[2017-01-10 21:34] natefaubion opened #1331 "Decks can have more than one parent"
Since we can now mirror dashboards, that means you can collapse the mirrors into the parent, resulting in a deck being in two locations at once. This seems problematic, and indeed if you collapse both dashboards, you'll get duplicate deck ids in a dashboard, which results in undefined behavior within the renderer, as child decks are slotted on their deck id.

I'm not quite sure what the expected b

[2017-01-10 21:38] natefaubion commented on #1331
One option is to just prevent collapsing when the dashboard card exists in more than one deck. I think allowing multiple parents is probably not a good idea.

[2017-01-10 21:53] natefaubion opened #1332 "Disabled backside actions aren't actually disabled"
While they may be greyed out, they are still active buttons that initiate the actions.

[2017-01-10 21:58] beckyconning commented on #1332
Ah yeah good point. Need to provide an extra constructor to allow the ActionList user to decide whether something should be disabled or not. This is the correct behaviour for the Next Action Card but not for the Deck Flip Side and other future uses.

Might be cool in the future to make the Deck Flip Side explain why an action is not possible rather than just preventing them from taking it.

[2017-01-10 22:09] natefaubion opened #1333 "Backside action list is empty when initialized with an error card"
1. Create fresh workspace
2. Insert Open card (which results in an error card)
3. Flip to backside, action list is empty
4. Select a resource
5. Action list is full

[2017-01-10 22:21] beckyconning commented on #1333
👍

[2017-01-10 23:33] damonLL opened #1335 "Request to add markers to line chart"
As partially suggested by @kauerbach in issue #1296, it would be very helpful to have markers to notate where the values actually reside along a line.  This would make it easier to locate values in a line vs. hovering and waiting for a tooltip, then sliding the pointer to find values.

Something like the attached image.

<img width="990" alt="markers" src="https://cloud.githubusercontent.com/asset

[2017-01-10 23:37] jdegoes commented on #1335
@cryogenian Is this feature available in Echarts?

[2017-01-10 23:42] jdegoes commented on #1332
Yes, this is necessary, so users can understand why what they're trying to do doesn't make sense presently.

[2017-01-10 23:43] jdegoes commented on #1331
Collapsing that creates duplication could be disallowed, or duplicates could be removed. What do you think?

[2017-01-11 02:06] beckyconning opened #1337 "Adding cards to a new deck which has only been wrapped without refreshing zooms into that deck."
Adding cards to a new deck which has only been wrapped without refreshing zooms into that deck.

![adding cards to a new deck which has only been wrapped zooms in](https://cloud.githubusercontent.com/assets/457901/21832320/31051a7a-d7a2-11e6-9c5f-bb6e8c32c1ca.gif)

This doesn't happen if:

* the page has been refreshed after wrapping
* the deck has been renamed previously
* one or more cards has b

[2017-01-11 02:10] beckyconning opened #1338 "Adding a query card after an open card presents error card"
![adding query card after open card presents error card](https://cloud.githubusercontent.com/assets/457901/21832455/2bcffef2-d7a3-11e6-9b5c-bea95e5462ca.gif)

[code]

It may be that I have the wrong version of Quasar Advanced installed I'll try again with latest.

[2017-01-11 05:15] cryogenian commented on #1335
We already have this, that's `Dimension #3`. One can just add something like
[code]
and use that `1`s as third dimension
![line_markers](https://cloud.githubusercontent.com/assets/10245930/21836397/02fea626-d7d6-11e6-9488-a41fa6077630.png)

[2017-01-11 15:31] natefaubion commented on #1331
@jdegoes I'm just wary of decks being in multiple cards at once. I can't reason about what that might mean overall. I think I'd like to just be conservative here for now. I'm OK with revisiting it in the future if there is something fundamentally limiting about it though.

[2017-01-11 15:36] natefaubion commented on #1337
This is because when you initialize a workspace, it listens on the initial root deck's bus for a model change, where it will then initiate a save. It's possible to wrap a deck as the initial action though, in which case the original deck is no longer the root. So it's basically just saving the workspace with the original deck. It needs to also take into account `ParentChange` and act accordingly.

[2017-01-11 15:37] natefaubion commented on #1337
Actually, it gets saved with the correct model, it's just the url redirection. It should redirect to whatever the root deck is.

[2017-01-11 15:38] #1331 closed

[2017-01-11 16:21] #1337 closed

[2017-01-11 16:41] #1338 closed

[2017-01-11 16:52] cryogenian opened #1343 "Change buttons in setups from square to new layout"

[2017-01-11 17:09] #1236 closed

[2017-01-11 17:45] natefaubion commented on #1314
Am I understanding this correctly? The behavior as of latest quasar, is that `SELECT foo FROM bar` results in a `{ "value": ... }` map instead of a `{ "0": ... }` map? If that's the case, I don't think there are any issues because the wrapper is still there, you'd just be selecting the `value` dimension in any pickers.

[2017-01-11 17:50] #1333 closed

[2017-01-11 18:22] beckyconning opened #1345 "Feature Test Failure: Search within results doesn't present state column."
Search: Search within results
Screenshot taken now:
![unknown](https://cloud.githubusercontent.com/assets/457901/21860937/c486d184-d82a-11e6-93dd-2901d5cf95f2.png)

`Couldn't find an element using the xPath: ((//table)[last()]/descendant::tr/td[contains(text(), 'OR')][((sum(preceding-sibling::td/@colspan) + count(preceding-sibling::td[not(@colspan)]) + 1) >= (sum((//table)[last()]/descendant::tr/t

[2017-01-11 19:45] damonLL commented on #1315
Based on a recent SlamData HelpScout ticket (#1303) we determined @Harihachiko has some data consistency discrepancies.  Specifically the `startDate` and `endDate` fields have various String formats in use, so the String to Timestamp conversion in the `WHERE` clause may be trying to parse different data formats and causing the query to fail.  Until @Harihachiko can standardize his data formats, or

[2017-01-11 20:41] damonLL commented on #1335
I should have been more specific, sorry @cryogenian.  The markers displayed in my example and your example might reflect another dimension, which is good, but I should have been more clear.

Can there be an option to notate where the values are, without considering the dimension or value?  The size of the bubbles in both examples is variant.  I think a simple marker showing where the data actually

[2017-01-12 09:19] cryogenian commented on #1335
@damonLL Ok, will additional checkbox work?
+ If user selects third dimension this checkbox is unchecked
+ If user check the checkbox third dimension is cleared.
+ If checkbox is checked then `min size` input label is changed to `size` input, `max size` input is hidden, and value of `size` input is set to something like 6px or maybe 10px
+ when user selects third inputs with checked checkbox `size

[2017-01-12 16:43] #1329 closed

[2017-01-12 16:51] beckyconning opened #1348 "Add icons and descriptions for structure editor actions"

[2017-01-12 17:45] natefaubion commented on #1071
I'm going to go ahead and close this. We've done a lot in this release to remove unnecessary queries, but there will always be more to do that requires more infrastructure, and I think we can make other issues for those. This particular case is unavoidable due to the `COUNT` request, which is necessary for the pagination UI. If we want to remove the `Page n of m` stuff (and jump to end of set), th

[2017-01-12 17:45] #1071 closed

[2017-01-12 18:31] natefaubion commented on #1314
As far as I can tell we don't do auto unwrapping anymore. All the cards I tested see the wrapper (and according to the issue there is still a `value` wrapper anyway, so I'm going to close this unless someone can give me some more insight into what the potential issue is.

[2017-01-12 20:30] beckyconning opened #1349 "Mirroring grouped decks presents only one deck in original group."
Refreshing or resizing gives correct presentation.

![2017-01-12 20_29_47](https://cloud.githubusercontent.com/assets/457901/21907070/e25a9f52-d905-11e6-9251-f532d21e56de.gif)

[2017-01-12 20:33] natefaubion commented on #1349
Note that the other deck _is_ presented in the DOM, you just can't see it because it's not getting the message to recalculate its layout. Because it's split directly in half, it looks like there's only one.

[2017-01-12 20:42] natefaubion opened #1351 "Propagate dimensions instead of querying the DOM"
For most layout purposes, dimensions are known. Querying the DOM (via `getBoundingClientRect`) all over the place can be a non-trivial performance drain (as it causes reflows).

We can query at the root for the full card size. These dimensions can then be given to the cards. Dashboards know the size of all child decks (the layout is calculated absolutely), and can then propagate those to children.

[2017-01-12 21:03] garyb commented on #1351
:+1: for this, I'd think there are very few cases where making the call is necessary, since passing the dimensions down was intended to prevent it from being necessary. The only time I think we'd need it is for checking rendered things fit an area, kinda thing.

[2017-01-12 21:27] natefaubion commented on #1351
Makes me wish we had props ;)

[2017-01-12 21:49] #1349 closed

[2017-01-13 02:24] beckyconning opened #1352 "What cards can be inserted is broken."
For example a Troubleshoot Card is no longer insertable after a Show Markdown Card.

[2017-01-13 02:59] natefaubion commented on #1352
This is because I originally replaced all the cards that spit out a resource or var map as `Initial`, but this ended up breaking the insertable card stuff, so I added back `Variables` and `ResourceKey`. I just forgot to change the one for Markdown eval. I think that's the only broken one.

[2017-01-13 03:07] beckyconning commented on #1352
There are some problems with InsertableCardType too. One glaring one is that the Next Action Card uses the port with a `Port -> InsertableCardIOType` rather than the type of the last card in the deck with  `CardType -> Array InsertableCardIOType`.

[2017-01-13 03:09] natefaubion commented on #1352
I don't understand, using the Port for the next action card is correct. It doesn't matter what came before, just its output.

[2017-01-13 03:22] beckyconning commented on #1352
I think this depends on the expected behaviour of markdown chaining. I'll look into this more.

[2017-01-13 04:03] beckyconning commented on #1352
Okay I think I've cleared this up.

Basically @cryogenian made some small mistakes in InsertableCardType when introducing markdown chaining which I read as meaning that from a deck author's perspective cards had one **or more** outputs.

E.g. the Setup Markdown Card outputting both Markdown and Variables.

It just so happens that internally the Markdown output type includes any previously provided

[2017-01-13 04:04] beckyconning commented on #1352
Okay I think I've cleared this up.

Basically @cryogenian made some small mistakes in InsertableCardType when introducing markdown chaining which I read as meaning that from a deck author's perspective cards had one **or more** outputs.

E.g. the Setup Markdown Card outputting both Markdown and Variables.

It just so happens that internally the Markdown output type includes any previously provided

[2017-01-13 05:32] beckyconning opened #1354 "Feature test failure: Filter backside buttons"
Deck backside: Filter backside buttons
Screenshot taken now:
![unknown](https://cloud.githubusercontent.com/assets/457901/21919360/a7f63758-d951-11e6-85bc-a6818d459834.png)
Couldn't find an element using the xPath: //th[text() = 'measureTwo']

[2017-01-13 05:34] damonLL opened #1355 "Ability to select multiple columns in Pivot Table column picker"
When selecting columns to display in the Pivot Table, a user must:

- click the plus icon
- select a column
- click *Confirm*
- repeat for each desired column

Users are unable to select multiple columns in this screen.

Is it possible to allow multiple selections at once?  For data sets with many fields or columns, this would be helpful and time saving.

[2017-01-13 10:05] beckyconning opened #1357 "Feature test failure: Flip deck"
Deck backside: Flip deck
Screenshot taken now:
![unknown-2](https://cloud.githubusercontent.com/assets/457901/21925983/c35c95e8-d977-11e6-9477-b50184841d90.png)
Couldn't find an element using the xPath: //th[text() = 'measureTwo']

[2017-01-13 10:51] beckyconning opened #1359 "Feature test failure: Trash last card"
Deck backside: Trash last card
Screenshot taken now:
![unknown-3](https://cloud.githubusercontent.com/assets/457901/21927569/13b11e00-d97e-11e6-8515-ea32e402cad7.png)
Couldn't find an element using the xPath: //th[text() = 'measureTwo']

[2017-01-13 11:04] beckyconning opened #1360 "Feature test failure: Search for a city Screenshot taken now:"
Search: Search for a city
Screenshot taken now:
![unknown-4](https://cloud.githubusercontent.com/assets/457901/21927936/fb4fe808-d97f-11e6-9479-71d6a2f25492.png)
`Couldn't find an element using the xPath: ((//table)[last()]/descendant::tr/td[contains(text(), 'SPRINGFIELD')][((sum(preceding-sibling::td/@colspan) + count(preceding-sibling::td[not(@colspan)]) + 1) >= (sum((//table)[last()]/descendant

[2017-01-13 17:14] natefaubion commented on #1355
This doesn't work if fields are nested. The selector represents the hierarchy of fields, so multiple selections only work with completely flat data.

[2017-01-13 20:11] natefaubion commented on #1314
I think I found were unwrapping was important: in markdown forms.

[2017-01-13 20:12] natefaubion commented on #1314
In particular, a `SELECT DISTINCT(foo)` query for populating a drop down.

[2017-01-13 20:26] natefaubion commented on #1314
Hmmm, nevermind. It seems `quasar` is yielding a bunch of empty objects. I'll leave this open for the time being though.

[2017-01-14 18:09] #1297 closed

[2017-01-16 15:00] natefaubion commented on #1184
One thing that's unclear about this is how you'd go about _setting up_ the different branches. I think the evaluation semantics are fairly clear, but in order to actually configure each branch, evaluation must succeed for that branch, otherwise you'd necessarily get error cards blocking you from doing anything. For example, if I setup a switch on a variable for the values "A", "B", and "C", and I

[2017-01-16 15:09] natefaubion commented on #1184
Another question is whether these child decks are branched off of the parent card. I assumed that given `CardA -> CardB -> Branch`, any branches would essentially mirror `CardA -> CardB`, with subsequent cards receiving `CardB` as input. Or are they just arbitrary decks of their own?

[2017-01-16 16:13] beckyconning opened #1366 "Deleting non first card presents next action card"
Should present previous card.

[2017-01-16 16:16] beckyconning opened #1367 "Can not insert Show Form card after Setup Form Card: Static Text"

[2017-01-16 19:11] damonLL opened #1369 "Download filename is not consistent"
Problem #1: The download dialog allows a user to modify the target file name.  See attached screen shot. The resulting downloaded file name will always be the same name as the SlamData file that is being downloaded, regardless of what is typed into the dialog.  In this instance, I attempted to rename the `patients` SlamData files to `patients-by-line.json` but it still resulted in a file name of j

[2017-01-16 19:13] damonLL commented on #1369
Forgot to mention.  This is behavior on current 4.0.10 release and using MongoDB as datasource backend, but it has appeared on several past releases, and I'm guessing it's unlikely to be a backend datasource related issue.

[2017-01-16 19:13] natefaubion commented on #1369
I think that's because, while each line is a JSON document, the document as a whole is no longer valid JSON.

[2017-01-16 19:22] damonLL commented on #1369
@natefaubion that could be true, but the UI is misleading then by implying it will name it with a .json extension as requested.  Besides, you *should* be able to name it anything you want, and SD should honor that.    But I get your point.

[2017-01-16 19:27] natefaubion commented on #1369
@damonLL FWIW, this works by redirecting to a quasar URL which initiates the download.

From what I can tell these other options aren't being sent as parameters at all.

[2017-01-16 19:36] damonLL opened #1370 "Option to download in compressed format does not work"
I thought I had submitted a bug on this in the past but can no longer find it.

When selecting the **Compressed** option to download a SlamData File (not a SlamData workspace) the resulting file is not compressed, but instead is in a plain text file format.  This occurs when either CSV or JSON has been selected as the file type.  As far as I can tell the additional dialog options do not affect thi

[2017-01-16 19:39] damonLL opened #1371 "Request to disable the download icon for SlamData workspaces"
Since we do not currently support exporting / importing workspaces I think it makes sense to remove the download / export option for workspaces.  It is misleading to users and has resulted in a few questions to Support about how to migrate workspaces from one instance to another.

If we don't remove the download icon / option for a workspace, then at a minimum, I think we should remove all of the

[2017-01-16 20:03] natefaubion commented on #1370
This may be somewhat of a misnomer. All the compressed option seems to mean is that it's sent with a `Accept-Encoding: gzip` header. This just means that it's compressed as it's sent, not that you'll receive a zip file or something.

[2017-01-16 20:36] damonLL commented on #1370
Interesting.  Could someone with history explain if this is expected behavior?  If @natefaubion's explanation is expected behavior, we'll simply need to document it.  If it's not expected, may I suggest we provide that functionality?

[2017-01-16 20:40] garyb commented on #1370
I would say it is supposed to supply an actual zip file, but that's something we'd need Quasar to do, not something we'd do in the front end as that defeats the object somewhat! :)

[2017-01-16 20:41] natefaubion commented on #1369
This may be a backend issue. I modified the redirect url to spit out additional headers to no avail. I'm not sure how this mechanism is supposed to work though.

[code]

For reference http://stackoverflow.com/questions/93551/how-to-encode-the-filename-parameter-of-content-disposition-header-in-http

[2017-01-16 20:43] garyb commented on #1369
The headers were being respected at one point, so it sounds like it probably is a backend issue / change.

[2017-01-16 20:44] natefaubion commented on #1369
I guess I should say its both a frontend _and_ backend issue. The frontend was clearly not sending any headers for the filename, but when I added those per the spec, it did nothing. :)

[2017-01-16 20:53] damonLL commented on #1370
I will open a Quasar issue then, but I think we should consider keeping this open until that's working as expected since it certainly impacts the front end options.  Thanks @garyb and @natefaubion

[2017-01-16 20:54] natefaubion commented on #1370
We may just need clarification from the backend as to what the supported options or expected interface should be.

[2017-01-16 21:59] jdegoes commented on #1371
There is already an open issue to fix this and an open PR for the Quasar work that needs doing (assigned to @drostron), so I'm going to change this ticket to "Don't show download format options for folders".

[2017-01-17 11:28] #1366 closed

[2017-01-17 16:46] beckyconning opened #1376 "Unauthorized and Unauthenticated notifications are confusing."

[2017-01-17 18:37] beckyconning opened #1377 "Emptying the search input "deletes" subsequent cards"

[2017-01-17 18:39] cryogenian commented on #1377
Why is this incorrect?

[2017-01-17 18:40] natefaubion commented on #1377
It does not delete anything, it just puts up an error card because there is no search criteria.

[2017-01-17 18:41] natefaubion commented on #1377
The error is poor though: "Incorrect query string".

[2017-01-17 18:43] beckyconning commented on #1377
it doesn't present an error card on my current build (although this is a branch of @cryogenian's so it may not happen in master i will check). additionally the search input may be used in an interactive dashboard and in such a case the removal of subsequent cards is unexpected especially when some of those cards are mirrored.

[2017-01-17 18:43] beckyconning commented on #1377
![2017-01-17 18_42_26](https://cloud.githubusercontent.com/assets/457901/22034653/d4b95d6a-dce4-11e6-836a-840e47f6d4b9.gif)

[2017-01-17 18:44] natefaubion commented on #1377
Hmm, this does not happen to me on master.

[2017-01-17 18:45] beckyconning commented on #1377
this issue may only be relevant to maxim's branch (i am rebuilding now). however i would suggest that an empty search field may be more valuable outputting unfiltered results rather than no results

[2017-01-17 18:45] beckyconning commented on #1377
this may also be some sort of stale build thing.

[2017-01-17 18:46] natefaubion commented on #1377
Actually, I was able to reproduce this. I'll take this ticket.

[2017-01-17 18:46] natefaubion commented on #1377
It doesn't happen all the time. When I did it with a preview table, I got an error card, so I'm not sure what's causing it. Likely related to eval somehow.

[2017-01-17 18:50] natefaubion commented on #1377
I don't have an opinion on this, and the current behavior of an error card is how it's always worked. So I'll defer to @jdegoes.

[2017-01-17 19:06] jdegoes commented on #1377
Yes, empty search should output unfiltered results.

[2017-01-17 19:59] #1377 closed

[2017-01-18 02:08] garyb commented on #1177
I've finally stopped trying to code my way to a solution for this and spent some time trying to think it through from start to finish instead.

I think we've been missing a few things in the mock / feature description in prodpad that need to happen for this to solve the problems it's intended to for users, so I've tried to come up with what I think is an exhaustive description of everything that i

[2017-01-18 04:27] jdegoes commented on #1177
I will get back tomorrow. However, a quick point now: I believe you do have access to DELETE, INSERT, and UPDATE, not just SELECT. They operate in an FP-way, though.

[2017-01-18 12:02] garyb commented on #1177
I did spend some time trying to figure those out, but I didn't have much luck. Anything I came up with resulted in syntax errors, but they're not documented anywhere so maybe I was just doing it wrong.

[2017-01-18 16:50] #1376 closed

[2017-01-18 16:54] #1367 closed

[2017-01-18 17:56] beckyconning opened #1379 "Sign in failed notifications don't present "Sign in" buttons"

[2017-01-18 18:28] beckyconning opened #1380 "Can not delete unmodified deck"
This prevents deck authors from removing unintentionally inserted decks from a dashboard card until they have modified them.

A typical example is when a deck author inserts a new deck into a dashboard card and then upon inspecting the card types presented by the next action card realised they actually wanted to mirror a deck rather than inserting a new one.

[2017-01-18 18:30] beckyconning commented on #1380
Attempting to delete an unmodified deck appears to have no action and then blocks any further deck action such as inserting a card.

[2017-01-18 18:45] natefaubion commented on #1380
The deck is deleted, which is why no subsequent actions work (a "Deck not found" error is raised), but I guess the parent isn't getting a message or something, so it's not updating it's layout.

[2017-01-18 19:14] damonLL opened #1381 "Opening existing workspaces gives error "Please select axis to aggregate""
- macOS Sierra
- SlamData Community 4.0.10
- Chrome v55
- MongoDB 3.2 / 3.4, Spark 2.0.1 (could be other backends too)

This happens very frequently, perhaps constantly.

You can see in the attached animated gif that I'm opening an existing workspace that shows an area chart.  The actual chart seems to display for a brief moment then it gives the error.  You'll see that I navigate back to the conf

[2017-01-18 19:19] jdegoes commented on #1381
@cryogenian Any update on this?

[2017-01-18 19:32] beckyconning opened #1382 "100 record limit for Dropdown is too low."
1000 records can be rendered easily.

This may be the case for radio and checkbox too, I'll check.

[2017-01-18 19:51] cryogenian commented on #1381
This should be fixed with default evaluation thing I'm working on now. Ill finish it this night or next morning.

[2017-01-18 22:09] #1380 closed

[2017-01-18 22:10] natefaubion commented on #1382
Do we want to bump them all to 1000? Radio and checkbox are also limited to 100.

[2017-01-19 01:30] damonLL commented on #1335
@cryogenian I think that makes sense.  I would ask that the checkbox have a tooltip associated with it (or a note next to it) explaining its purpose.  A short label (like `Use Simpler Marker` or whatever you choose) may not be descriptive enough.  Otherwise I think this sounds good!  Thanks!

[2017-01-19 03:06] jdegoes opened #1384 "Add JSON/XML configuration option to MarkLogic connector"
The MarkLogic connector allows you to mount something as JSON or XML. We need to support this in the UI so users have a way of specifying the connection mode.

[2017-01-19 03:19] beckyconning opened #1385 "Line graphs not being presented in Safari"
Chrome 55:

<img width="891" alt="screen shot 2017-01-19 at 03 17 15" src="https://cloud.githubusercontent.com/assets/457901/22092504/f70c35b0-ddf5-11e6-8033-3f05389175cf.png">

Safari 10.0.2:

<img width="898" alt="screen shot 2017-01-19 at 03 17 24" src="https://cloud.githubusercontent.com/assets/457901/22092523/0a981c66-ddf6-11e6-83da-106ab11013f2.png">

[2017-01-19 03:23] beckyconning commented on #1385
Firefox 50.1 for good measure (uses a sans-serif font like Safari and unlike Chrome):

<img width="890" alt="screen shot 2017-01-19 at 03 21 46" src="https://cloud.githubusercontent.com/assets/457901/22092579/8533416c-ddf6-11e6-9e74-6a67bf850fc8.png">

[2017-01-19 05:15] beckyconning opened #1386 "Flatten Card"
A card which takes data from the previous card, an array selected by the deck author and performs the following query.

`SELECT arrayName[*] FROM :results`

[2017-01-19 12:48] cryogenian commented on #1335
Ok, cool. Could you provide this note here?

[2017-01-19 12:49] cryogenian commented on #1385
Unfortunately I have no Mac to check this. @beckyconning Are there any errors in safari console?

[2017-01-19 18:12] #1384 closed

[2017-01-19 18:48] beckyconning opened #1389 "Forms which follow forms block data unless their value is changed."
This is workaroundable by changing the form value and then changing it back. However this is not possible with radio buttons and dropdowns with only one option.

![chained forms bug](https://cloud.githubusercontent.com/assets/457901/22120510/e265f89e-de77-11e6-92ae-15138c021925.gif)

[2017-01-19 18:50] jdegoes commented on #1389
@cryogenian Ping!

[2017-01-19 19:01] beckyconning commented on #1382
I think the original motivation for the low number is that this can cause slow evaluation with some inputs. However slow evaluation can occur with as little as one record if it is complex enough. I'm trying out some different values now.

[2017-01-19 19:02] beckyconning opened #1390 "Slow evaluation can cause unresponsiveness."
Ideally even if a deck is taking a long time to evaluate it shouldn't lock up other decks nor cause the browser to present an "unresponsive" prompt.

[2017-01-19 19:06] natefaubion commented on #1390
Do you have a specific case? The only one I know of is if you try to chart a very large collection. Originally we did a `COUNT` on it before we pulled in data, but we decided to forgo this since the queries can be expensive on the server side. But if you pull in an entire collection with millions of rows and try to do something with it, you're obviously hosed on the frontend. There's not really a

[2017-01-19 19:22] beckyconning commented on #1390
![unresponsive with 20 rows](https://cloud.githubusercontent.com/assets/457901/22121558/7fb02094-de7c-11e6-8be8-1239d763b4f6.gif)

[2017-01-19 19:23] natefaubion commented on #1390
This is a sign of something much more serious ;)

[2017-01-19 19:27] beckyconning commented on #1390
These rows contain more rows btw. I think thats part of my point re #1382. The number of top level rows doesn't indicate how long it will take to evaluate.

<img width="2032" alt="screen shot 2017-01-19 at 19 24 47" src="https://cloud.githubusercontent.com/assets/457901/22121723/014b597a-de7d-11e6-9163-8199fc7954dd.png">

I think this will be the eventual solution but I imagine this will take some

[2017-01-19 19:31] beckyconning commented on #1390
the total number of tr tags on both pages of the preview table shown above is 3270.

[2017-01-19 19:43] beckyconning commented on #1390
https://github.com/quasar-analytics/quasar/issues/1715 is required for the correct fix to this issue.

[2017-01-19 19:47] natefaubion commented on #1390
This also serves as a reminder that `LIMIT 20` can still yield "millions of rows" as far as the UI is concerned.

[2017-01-19 19:53] #1381 closed

[2017-01-19 20:14] natefaubion commented on #1390
Looking at the CPU profile, it's saturated with `JCursor` related things, which I imagine is the structural analysis.

[2017-01-19 20:20] beckyconning commented on #1390
Shall we move this to 4.2?

[2017-01-19 20:30] jdegoes commented on #1390
👍

[2017-01-19 21:17] beckyconning commented on #1389
Steps to reproduce

Create new deck
Insert `Open` card
Select file `/test-mount/testDb/patients`
Insert `Setup Form: Dropdown` card
Provide value `age`
Insert `Show Form` card
Insert `Setup Form: Dropdown` card
Provide value `last_name`
Insert `Preview Table` card
Expect at least one row to be presented ✅
Go to first `Show Form` card in deck
Provide value`30`
Go to `Preview Table` card in deck
Exp

[2017-01-20 01:11] jdegoes commented on #1335
@damonLL Let's chat timing of this tomorrow.

[2017-01-20 01:48] #1238 closed

[2017-01-20 01:53] beckyconning commented on #1385
@cryogenian no errors in the console

[2017-01-20 05:16] beckyconning commented on #1385
chrome's canvas context method calls
http://jsfiddle.net/x02L5gf6/
<img width="649" alt="screen shot 2017-01-20 at 05 14 22" src="https://cloud.githubusercontent.com/assets/457901/22136860/573bd10a-decf-11e6-81e3-facba8f96a97.png">

safari's canvas context method calls
http://jsfiddle.net/x02L5gf6/
<img width="644" alt="screen shot 2017-01-20 at 05 14 48" src="https://cloud.githubusercontent.com/a

[2017-01-20 05:18] beckyconning commented on #1385
chrome's canvas context method calls
http://jsfiddle.net/x02L5gf6/
<img width="649" alt="screen shot 2017-01-20 at 05 14 22" src="https://cloud.githubusercontent.com/assets/457901/22136860/573bd10a-decf-11e6-81e3-facba8f96a97.png">

safari's canvas context method calls
https://jsfiddle.net/f149fbpf/
<img width="644" alt="screen shot 2017-01-20 at 05 14 48" src="https://cloud.githubusercontent.com/

[2017-01-20 05:53] beckyconning commented on #1385
however echarts options are identical so it seems to me this is an echarts bug.

however we're using an old version right?

Chrome echarts options
https://gist.github.com/beckyconning/ca318ea5ea8b0d512f6bcc13c370e133

Safari echarts options
https://gist.github.com/beckyconning/b525004581c09b6dabab62cb14fa351f

[2017-01-20 05:59] beckyconning commented on #1385
no we're on 3.2.2

i'll try updating to 3.4.0

[2017-01-20 06:40] beckyconning commented on #1385
that didn't help. i'm out out ideas so i'm unassigning myself now. hopefully the comments above help a little.

the only thing i can think of is that i've noticed in the past that some errors in slamdata don't end up being piped to the console. perhaps that is happening here.

[2017-01-20 06:44] beckyconning commented on #1385
i just tried putting the options into echarts outside of slamdata and the same error occurs so its definitely an echarts error. i'll raise the issue on their tracker.

[2017-01-20 06:54] beckyconning commented on #1385
https://github.com/ecomfe/echarts/issues/4980

[2017-01-20 07:08] #1379 closed

[2017-01-20 07:13] beckyconning commented on #1386
Alternatively a "Flatten" option could be presented anywhere where array items are presented in the structure viewer.

<img width="251" alt="screen shot 2017-01-20 at 07 12 28" src="https://cloud.githubusercontent.com/assets/457901/22139752/eee5ff0c-dedf-11e6-9333-3851b8b69f65.png">

[2017-01-20 07:14] beckyconning commented on #1386
I suppose the structure editor achieves this purpose.

[2017-01-20 07:18] #1386 closed

[2017-01-20 12:52] garyb commented on #1006
When this occurs now the entire workspace fails. Is that a necessity @natefaubion, given the way things are now? By which I mean, if we did show a "failed to decode card" error where appropriate would that corrupt the workspace graph or something?

[2017-01-20 14:21] natefaubion commented on #1006
No it's still possible. It just has to block evaluation. What you could do is make the decoder track errors, but not fail. When the [initial graph is populated](https://github.com/slamdata/slamdata/blob/master/src/SlamData/Workspace/Eval/Persistence.purs#L98), it currently receives `mempty` for the old card/decks. What you'd do is filter out the erroring decks, and [make cells for them](https://gi

[2017-01-20 14:22] garyb commented on #1006
Cool, thanks. Just wanted to make sure it was still something that is "possible".

[2017-01-20 16:42] beckyconning commented on #1390
Maybe we can work out the total number of rows in the tree (like jtable does) and present a warning before doing the calculation.

[2017-01-20 16:42] beckyconning commented on #1382
https://github.com/slamdata/slamdata/issues/1390#issuecomment-274118882

[2017-01-20 16:57] beckyconning commented on #1390
By which I mean something like:

This analysis contains {{n}} rows and may cause your browser to become unresponsive for a time.

Cancel / Perform analysis

[2017-01-20 17:00] garyb commented on #1390
We could also do something (probably terrible) with the analysis to make it async and bounce after a certain amount of time has elapsed. It would make it even slower however, even for cases that wouldn't have frozen the browser.

[2017-01-20 18:49] #1382 closed

[2017-01-20 19:23] jdegoes commented on #1177
OK, so here are my thoughts:

The type breakdown looks good. However, I find some of the lower levels confusing or difficult to extend.

In particular, the choice of "Map Values" or "Grouped Keys" is somewhat arbitrary, and actually occurs at the wrong level in the real hierarchy.

Let me explain:

In MRA, a dataset (that is, a file which contains lots of values), is nothing more than a map from u

[2017-01-20 20:05] #1227 closed

[2017-01-20 20:38] garyb commented on #1177
Re: initial flattening into a map. Okidoke, that makes sense. Especially after I just tried something I hadn't thought to do before: tried to upload a data set that is an array of strings (it's not allowed by MongoDB at least, they have to be documents).

Switching to verbs rather than using virtual hierarchy will clear things up a lot I think 👍. Would "group by type" be a verb in this scheme then

[2017-01-20 22:41] #1389 closed

[2017-01-20 23:30] jdegoes commented on #1177
Yes, I think this makes sense. To be consistent, we'd also do this with distinct values, but also make grouping by distinct values or by types 2 taps away, at most, as these will be common operations.

If we do it with distinct values, however, then it does mean we need to show individual values, merely as a mechanism to be consistent. Also, in hindsight, there *is* something you can do with indiv

[2017-01-21 07:35] beckyconning commented on #1385
I found what was causing this. It is kind of a ECharts bug but at the same time its kind of a SlamData bug.

https://github.com/ecomfe/echarts/issues/4980#issuecomment-274246251

[2017-01-21 08:06] beckyconning commented on #1385
Actually its not really a SlamData bug but we can work around it.

[2017-01-22 04:40] #1385 closed

[2017-01-22 04:41] #1348 closed

[2017-01-23 20:33] damonLL commented on #1355
That makes sense.  What about providing this feature for top-level fields only?  Maybe with a tooltip saying multi-select cannot be used in sub-documents or arrays.  It would still be useful and save a good bit of time even when limited to those fields.

[2017-01-23 22:31] jdegoes commented on #1355
@damonLL The structure editor may make this feature obsolete, which is why I'm not scheduling it just yet. The workflow would be editing the structure of a data set to keep only some fields, and then following it with a pivot table setup, which only has access to the, e.g., 4 fields or so.

[2017-01-23 22:40] #1335 closed

[2017-01-24 04:57] damonLL opened #1399 "Markdown query without a WHERE clause returns an array of empty values"
4.1.0 GA release
Chrome v55
macOS 10.12.2
MongoDB 3.4

Not sure if something on the backend or frontend changed, but the following Markdown produces the attached screenshots.  Worked without the `WHERE` clause in 4.0.10.  Interestingly the number of entries in the dropdown is accurate (50 states), they're just null / empty.

[code]

<img width="188" alt="markdown1" src="https://cloud.githubusercon

[2017-01-24 06:05] damonLL commented on #1315
Closing as it was determined to be a data issue.

[2017-01-24 06:05] #1315 closed

[2017-01-24 12:50] natefaubion commented on #1399
https://github.com/quasar-analytics/quasar/issues/1856

[2017-01-24 16:50] cryogenian opened #1402 "Travis and replace-crlf add-headers problems"
When one runs
[code]
Gulp adds headers and preserves ~3 lines of old code with crlf endings.

Travis teminates `npm run psa` with error, but build succeedes.

[2017-01-24 18:11] natefaubion commented on #1314
@jdegoes I've installed couchbase and verified that in the cases where we do auto-unwrapping (markdown forms), things work as expected. There _are_ UI features that don't work with raw values though, like the pivot table and the new form inputs (this has always been broken). I think it's reasonable to want to perform aggregations on raw values, though I'm not sure if the pivot table is the best pl

[2017-01-24 18:11] #1314 closed

[2017-01-24 18:26] jdegoes commented on #1314
@natefaubion Sounds good. Please open up issues for the things that don't work now so we can at least track them.

[2017-01-24 18:30] natefaubion opened #1403 "Allow dimension picker to select raw values"
When we perform structural analysis for the dimension picker, we should supply the root value as an (the only) option when it is a leaf value. Right now we can't select these values in the pivot table and form builders.

[2017-01-25 15:42] garyb opened #1406 "Layout dragging issues"
There seems to be a problem with the layout behaviour after dragging some cards. Example:

1. Open a file
2. Insert preview table card
3. Mirror
4. Drag mirrored card to right of original card

What I see now is the dragged card disappears. If you zoom into the deck however, the cards appear with a 50/50 split. Zooming out again does not fix this. Nor does adjusting the split size and zooming out.

[2017-01-25 15:47] jdegoes commented on #1406
@garyb Feel free to take this one if you're not working on something more pressing.

[2017-01-25 15:59] garyb commented on #1406
User error 🙈

[2017-01-25 15:59] #1406 closed

[2017-01-25 19:17] natefaubion opened #1407 "Deterministic evaluation ordering"
Right now, one can trigger multiple evaluations on a card, and there is no priority or ordering. It's possible for a latter evaluation to complete before a previous evaluation. The most straightforward thing might be to just queue at the card level, but if some queries are expensive it might be better to cancel evaluation (if we supported that).

[2017-01-25 19:31] natefaubion opened #1408 "Next action card has scrollbars"
<img width="836" alt="screen shot 2017-01-25 at 1 29 34 pm" src="https://cloud.githubusercontent.com/assets/144058/22305757/5a738ac0-e302-11e6-8809-98d9e985125c.png">

I think this might be due to https://github.com/slamdata/slamdata/pull/1401 because it's sized by card size, not the card size minus the filter box.

[2017-01-25 21:36] #1408 closed

[2017-01-26 14:46] natefaubion commented on #1369
Fixed by #1404

[2017-01-26 14:46] #1369 closed

[2017-01-26 14:47] natefaubion commented on #1370
The compressed option has been removed until such a time that it is supported by Quasar.

[2017-01-26 14:47] #1370 closed

[2017-01-26 14:48] natefaubion commented on #1399
This should have been fixed by https://github.com/quasar-analytics/quasar/pull/1881

[2017-01-26 14:48] #1399 closed

[2017-01-26 17:54] natefaubion opened #1413 "Download card should provide filename options"

[2017-01-26 23:36] #1413 closed

[2017-01-31 10:34] beckyconning commented on #1021
i could do this.

which of these do we want?

fields
<img width="310" alt="screen shot 2017-01-31 at 10 30 52" src="https://cloud.githubusercontent.com/assets/457901/22461244/7092f8c0-e7a0-11e6-822e-184cb1dfa64f.png">

calendar
<img width="310" alt="screen shot 2017-01-31 at 10 30 52" src="https://cloud.githubusercontent.com/assets/457901/22461288/948cee20-e7a0-11e6-91ad-fb572b18956e.png">

select

[2017-01-31 11:08] beckyconning opened #1419 "New workspace sign in issue"
Create a workspace.
Invalidate id token
Insert an Open Card
Expect to be presented with sign in notification
Sign in successfully
Expect not to be presented with "Unexpected result when loading value from file"

[2017-01-31 11:09] beckyconning commented on #1419
This can happen when returning to the file browser after waiting a long time when not signed into provider.

[2017-01-31 12:52] beckyconning opened #1420 "Intro video does not play in Safari"

[2017-01-31 12:57] beckyconning commented on #1309
I do have Flash disabled but given that Safari can copy without Flash and I never purposely disabled Flash I think this should be addressed at some point.

[2017-01-31 13:21] jdegoes commented on #1021
Something compact may be nice because of the way these things are used in interfaces. Btw your screenshots of fields an calendar are the same. 😄

[2017-01-31 13:31] garyb commented on #1309
We use zeroclipboard to copy though, which does use Flash (maybe just as a fallback? I don't know), so maybe it's an issue there. Still doesn't seem to be any issues for it though.

[2017-01-31 13:39] beckyconning commented on #1309
I think zeroclipboard only uses flash. Which is kinda a problem as many browsers require user input on a visible flash embed to turn flash on for a page. Copy is possible in every recently released browser without using Flash so I think that should be attempted first before falling back to Flash.

[2017-01-31 13:41] beckyconning commented on #1309
E.g. https://github.com/zenorocha/clipboard.js

[2017-01-31 14:18] natefaubion commented on #1311
Closing for lack of details.

[2017-01-31 14:18] #1311 closed

[2017-01-31 14:41] #1352 closed

[2017-02-01 15:13] #1216 closed

[2017-02-01 19:38] #1199 closed

[2017-02-02 17:24] damonLL opened #1423 "Allow additional card types to follow the Variables Card"
Would like to request that safe / appropriate cards be allowed to follow the Variables Card.

In 4.1.1, creating a new workspace with a Variables Card as the first card does not allow an Open Card to immediately follow it.

In my use case I wanted to create a variable, then open a file which would then be used in a Form builder with a drop-down, then followed by a query card which would use both t

[2017-02-02 17:29] natefaubion commented on #1423
I think this is the only "unknown", because right now scopes don't necessarily propagate. There's no reason they can't, it was just a conscious decision at the time. Maybe we should only propagate variables introduced by a variables card? Or should cards always have everything introduced previously in scope (every card introduces a new lexical scope that encompasses any following cards).

[2017-02-02 18:29] jdegoes commented on #1143
@garyb The Quasar functionality has been implemented and this can now be fixed!

[2017-02-03 17:27] jdegoes commented on #1423
@natefaubion I think the new design whereby card-specific metadata provides an interpretation to the variables possibly allows us to propagate variables. The main issue, I suppose, is ambiguity—if it's an issue at all.

Any thoughts?

[2017-02-03 17:32] natefaubion commented on #1423
There is no issue from an implementation POV. I think it's a fairly straightforward change. The only consideration is what happens when you hit a dashboard, and I think it's probably OK. For example, say I have a dashboard with two mirrored decks. They'll likely accumulate common variables. If they are not named (and thus not namespaced), it will attempt to merge the values, and it will create a s

[2017-02-05 09:16] beckyconning opened #1424 "Show Markdown Card fields overlap labels."
<img width="359" alt="screen shot 2017-02-05 at 09 15 15" src="https://cloud.githubusercontent.com/assets/457901/22625059/a7fb916e-eb83-11e6-94a0-c82c82ec28ba.png">

[2017-02-05 10:02] beckyconning opened #1425 "Preview table no longer presents single values"
* Create workspace
* In untitled deck
    * Insert query card
    * Provide query `SELECT "Hello"`
    * Access next action card
    * Insert preview table
    * Expect value in table "Hello"

[2017-02-05 10:08] beckyconning commented on #1425
This may be expected behaviour?

[2017-02-05 10:12] beckyconning commented on #1425
Does work with query `SELECT "Hello" as Greeting`

[2017-02-05 10:56] beckyconning opened #1426 "Ability to swap out card / cards for card / cards with same io types."

[2017-02-05 13:30] natefaubion commented on #1425
The backend seems to be throwing up a 500 on the `COUNT` query that the table issues (at least for me). This does not yield an error card because preview table queries are not part of eval (they are part of the component).

[code]

[2017-02-06 19:56] #1423 closed

[2017-02-06 22:43] damonLL opened #1428 "Request to include sample data sets in release builds"
I suggest that it's helpful to users to have several data sets to interact with as soon as they start SlamData.  Can we provide some sample data sets for users directly in the build?  Such as the time series, customers and patients data set we use.  Possibly with a few tweaks before including them.

Ideally users could determine when they import these data sets, and engineering decides how this wo

[2017-02-07 03:05] ashitabh opened #1429 "Hortonworks connection for HDFS on Spark"
Can you provide a sample config values specific to Hortonworks/Cloudera or MapR hadoop for
1.Spark Server
2.HDFS Server
3.Root path

Whatever I do , I get this error
There was a problem saving the mount: An unknown error ocurred: 500 "{ \"error\": { \"status\": \"Physical filesystem error.\", \"detail\": { \"message\": \"key not found: QUASAR_HOME\" } } }"

[2017-02-07 03:14] jdegoes commented on #1425
Need to investigate the 500 as well as make sure ALL errors propagate to the UI.

[2017-02-07 13:47] damonLL commented on #1042
@cryogenian in 4.1.1 release I still see missing labels.  I've tried limiting results to 40, then 20.  Same result.  See attached.  Is there something I am missing?

![411-1042](https://cloud.githubusercontent.com/assets/7375598/22693619/a0241e66-ed09-11e6-866b-b0b97859ca72.png)

[2017-02-07 14:18] cryogenian commented on #1042
@damonLL Hm... I thought I fixed this 😞 I'm making a pr with the fix now

[2017-02-07 17:11] jdegoes commented on #1429
I think you should open this in quasar-analytics/quasar, not here.

[2017-02-07 22:42] jdegoes opened #1433 "Switch from client-side caching to server-side smart caching"
Leverage cache settings in views to support caching. Note this will require improving the Cache Card to support max staleness.

[2017-02-07 23:36] jdegoes opened #1434 "Leverage query estimation times to improve UX"
Quasar is getting [a feature](https://github.com/quasar-analytics/quasar/issues/1716) to estimate query execution times:

* **Instant** — There is negligible cost to execute the query.
* **Interactive** — There is some cost to execute the query, but only in the range of a few seconds to low tens of seconds.
* **Semi-Interactive** — The query will execute in minutes.
* **Batch** — The query require

[2017-02-08 01:51] jdegoes opened #1435 "Leverage statistical structural types"
In various places (chart setup, structure editor, etc.), the front-end retrieves a sample of data from the backend and performs some type of rudimentary analysis to construct an ad hoc schema suitable for subsequent operations. Unfortunately, this process is crude and cannot benefit from server-side knowledge of structure, server-side caching, or more computationally intensive methods of schema an

[2017-02-08 03:37] ashitabh commented on #1429
Thanks for reply, but if you can provide a screenshot of values needed in Slamdata UI , it will be of great help

[2017-02-08 14:38] jdegoes commented on #1429
Ah, I see! Can you please open in [slamdata-docs](https://github.com/slamdata/slamdata-docs), instead? /cc @VeryFatBoy

<https://github.com/slamdata/slamdata-docs>

[2017-02-08 14:38] #1429 closed

[2017-02-09 22:57] damonLL opened #1436 "Ability to deploy SlamData as a Windows Service or Linux Daemon"
We've received multiple requests to install SlamData as an OS service or daemon rather than a standard Java application.  This would allow administrators to manage starting, stopping and status monitoring of the SlamData process itself through normal OS means.

For Linux perhaps something like the answer mentioned in this [StackOverflow Post](http://stackoverflow.com/questions/7687159/how-to-conve

[2017-02-09 23:07] jdegoes commented on #1436
This should be opened in quasar-analytics/quasar.

[2017-02-09 23:08] damonLL commented on #1436
Okay, will recreate there and close this one, thanks @jdegoes

[2017-02-09 23:08] #1436 closed

[2017-02-09 23:14] damonLL opened #1437 "Unnecessary __MACOSX directory leftover after unzipping Linux installer"
After unzipping the Linux installer an unnecessary directory named `__MACOSX` with a single file named `._SlamData-Community-v4-1-1-Linux.sh` exist:

[code]

[2017-02-10 11:13] garyb commented on #1437
When we create the installers, they're not individually zipped - there's just one archive containing files like this:

[code]

So I assume this is happening in a further re-packaging stage that is not done during the build. Maybe something Chris is doing?

[2017-02-15 16:23] beckyconning opened #1439 "Notifications not dismissed when "Sign in" notification button pressed in file browser."
Tested on halogen-1.0.0-updates branch.

[2017-02-15 16:24] beckyconning opened #1440 "Notifications appear over global menu in file browser and below in workspace."
Tested on halogen-1.0.0-updates branch.

[2017-02-15 17:41] beckyconning opened #1441 "halogen-1.0.0-updates: sign in does not work."
"Sign in prompt closed" notification is always presented.

[2017-02-16 15:39] cryogenian commented on #1439
Fixed by 222c1e36de7c551e4d8beda24f14d78be699214a

[2017-02-16 20:16] cryogenian commented on #1440
fixed by 0b4a1770580e0c353e24f825c0466f8e2a27d444

[2017-02-16 20:17] cryogenian commented on #1441
fixed by 9fd52a70c353f616f8ff3cc2b392e4c14eb7a4a2

[2017-02-17 11:25] garyb opened #1442 "Use closure compiler when bundling for production"
The js products are pretty huge at the moment, and we don't apply any kind of minification on them. Ideally we could use the closure compiler plugin for this, but if we want to use `ADVANCED_OPTIMIZATIONS` then we'd need to figure out the dependencies and whatnot so that there is just one JS bundle produced, rather than what we have now where there are a couple of js files included in the HTML.

[2017-02-17 11:47] cryogenian commented on #1442
Last time I checked it compiled for loops to non-stacksafe recursive funcs

[2017-02-17 11:48] garyb commented on #1442
Ah ok, well, whatever works anyway :) doesn't necessarily have to be closure even, I guess uglify or the like would be better than the nothing that we use currently.

[2017-02-17 15:15] natefaubion commented on #1442
Surely this can't be right?

I think the biggest problem would be just that the compiler output doesn't match what the compiler expects, does it? If we can ever get the rollup plugin working, you could probably use that as a bundler (since it puts everything into a big scope and renames stuff), and then run a closure pass over it.

[2017-02-17 15:19] cryogenian commented on #1442
IDK :) that was 3-4 years ago, and it upset me a lot --> I switched to uglify that time

[2017-02-17 16:20] natefaubion opened #1443 "Split Chart.Component and FormInput.Component"
Right now these are "proxy" cards just because there are single buttons for "show chart" and "show form input", but we can split out pivot table/chart/metric/text like/label like/ etc into their own card types and just dispatch in CardFactory, eliminating the intermediate component. This should eliminate some weird cases we have now.

[2017-02-20 18:20] garyb commented on #987
This was fixed by Selenium or Chromedriver a while back.

[2017-02-20 18:20] #987 closed

[2017-02-21 16:24] #1439 closed

[2017-02-21 16:24] #1440 closed

[2017-02-21 16:51] #1441 closed

[2017-02-21 16:53] natefaubion opened #1444 "Pivot Table: Date/Time dimensions"

[2017-02-21 16:53] natefaubion commented on #1444
@jdegoes I assume this would correspond to using `DATE_PART`?

[2017-02-21 16:56] natefaubion opened #1445 "Server-side aggregation for charts"
We should generate SQL^2 queries wherever possible instead of pulling in entire collections and aggregating on the frontend.

[2017-02-21 17:05] jdegoes commented on #1444
@natefaubion Yes. I'll work on a mock or two.

[2017-02-21 22:28] natefaubion commented on #1443
I'm not sure how to make this backwards compatible model-wise. The Metric and EChart displays for "Show Chart" have no persisted model/tag, so it's not possible for me to tell which card should be displayed without looking at the input Port.

[2017-02-22 10:12] Harihachiko opened #1447 "Https service not working"
@beckyconning @damonLL  @jdegoes

Hi,
     I am unable to use https:// secure access in slamdata. I am using apache tomcat to automate my service. I am getting some sort of error like this.

![image003](https://cloud.githubusercontent.com/assets/19929298/23206874/49e97132-f915-11e6-836f-f05d7fc1b430.png)

Thanks,
Harirprasath.

[2017-02-22 19:54] natefaubion commented on #1433
Quasar feature: https://github.com/quasar-analytics/quasar/issues/1714

[2017-02-23 14:46] #1305 closed

[2017-02-23 18:36] natefaubion opened #1450 "Run query notification doesn't show button"
<img width="460" alt="screen shot 2017-02-23 at 12 36 50 pm" src="https://cloud.githubusercontent.com/assets/144058/23273457/b0ca1f64-f9c4-11e6-8940-e3900082f152.png">

[2017-02-23 22:07] natefaubion opened #1453 "Dimensions aren't set correctly after deleting a card"
This pertains to the lazy rendering of cards. If you delete a card, and have not navigated to the previous one, when it switches to the previous card it will have a LOD = `Low`, no matter the dimensions.

[2017-02-24 16:47] #1450 closed

[2017-02-24 17:19] #1403 closed

[2017-02-24 20:20] zeeiyerWork opened #1456 "UX Enhancement: Model Slam-Virtual-File-Rename like a "Refactor" in an IDE?.."
As an usability enhancement, it might be good to indicate workspaces that are affected by a "collection" rename and solicit user-input on whether the name-change should propagate to affected workspaces. (a la "Refactor" in popular IDEs).

Example:
1.  Renamed a collection from "patients\.json" -> "patients" via slamdata-ui.
2. Worked well (actually better than mongo-shell which barfs with the spec

[2017-02-24 20:26] zeeiyerWork commented on #1456
Currently at least from the UI - the rename appears to be pretty **destructive** in that there is no opportunity to go back and mutate your workspace accordingly. One has to delete and recreate the workspaces - a user could get frustrated if there are multiple workspaces that now need to be redone.

[2017-02-24 20:42] #1453 closed

[2017-02-24 21:04] zeeiyerWork opened #1457 "Enhancement: More Robust Error Handling to enable end-users self-identify fat-fingering issues in the Query."
Perhaps desirable to have more robust Error Handling, to provide additional hand-holding to users.

e.g. Consider a query such as below in a Query-Card.
SELECT last_name || ", " || first_name AS Name, city as City, state as State,
              codes[*].code AS Code, codes[*].desc AS Description
FROM   `/medicalData/testDB/patients`

1. Works fine.
2. However, upon subjecting to some "adversity":

[2017-02-25 14:00] natefaubion opened #1458 "Display error in compressed action list label"
<img width="386" alt="screen shot 2017-02-25 at 7 53 29 am" src="https://cloud.githubusercontent.com/assets/144058/23331690/52a334f8-fb30-11e6-9c44-4d0c4f51bdda.png">

The labels for the truncated items are doubled ("Setup DownloadDo...")

[2017-02-25 15:20] garyb commented on #1456
I like the idea of this, but I'm not entirely sure how we could efficiently implement it - we don't have a way of tracking dependencies between workspaces and files, aside from within each workspace itself. Ideally we'd store a reverse mapping somewhere, but keeping that up to date might be problematic too.

[2017-02-27 12:54] cryogenian commented on #1443
@natefaubion We could check previous card tag.

[2017-02-27 15:05] cryogenian commented on #1425
Added quasar-analytics/quasar#1931
I'm going to add error message in table card. Other option is to insert error card on top of preview table, but it's a bit enigmatic because table card is still empty in that case.
@jdegoes does it sound ok?

[2017-02-27 15:10] natefaubion commented on #1425
I think it would be best if we could put fetching into eval, the problem is that currently eval transitions are driven completely by the model, and we'd need to extend it to allow explicitly constructed transitions. FWIW we have the same issue in the pivot table. We should be doing as few requests in components as possible. When they are in eval the results get shared and cached appropriately.

[2017-02-27 15:18] cryogenian commented on #1425
Like this?
+ Every button in bottom of table (_Next_, _Previous_, etc) raise `modelUpdated`
+ Table eval put different `input` to state and checks if there an error.
+ In case of error preview table displays error message and `Error` port is output. Otherwise resource port isn't changed.

[2017-02-27 15:23] jdegoes commented on #1425
The error card was invented to display error messages. We should find a way to use that rather than inventing an ad hoc mechanism of error reporting for every card.

[2017-02-27 15:42] cryogenian commented on #1425
Okay, I'll add a message in table card and error card on top of it.

[2017-02-27 15:49] natefaubion commented on #1425
I think ideally, the pager state isn't in the model (is it something we really want to persist between sessions? I don't think so), but it makes sense to be in eval state. It's possible to put the pager options into eval state and then trigger eval. I don't _love_ that though. Another option is to change the eval framework slightly to always take an explicit transition, where the current model tra

[2017-02-27 15:54] cryogenian commented on #1425
@natefaubion Make `Eval` independent on `Model`?

[2017-02-27 15:59] natefaubion commented on #1425
Technically it's independent of model now; it's based off of the `Eval.Transition` type. We just have a function that maps a model to a transition. I'm suggesting that we could do that mapping in the card component, and not in eval. That gives that opportunity to have transitions that aren't just derived from the model. I think this is an inevitable requirement because we don't necessarily want to

[2017-02-27 16:39] jdegoes commented on #1425
@cryogenian @natefaubion It would be nice if error cards could be generated for failure for an input to satisfy some criteria (pre error card rather than post error card).

[2017-02-27 16:43] natefaubion commented on #1425
@jdegoes from #frontend

no, because it’s not well defined. I think it’s fine to say “Error fetching results” like we say “No results”, but then put up the error card with more detail

I tried doing that at one point, but if you put up an error card before you can’t interact with the card to change it :slightly_smiling_face:

and if you don’t swap it out wholesale, it’s unclear what it’s pointing

[2017-02-27 17:11] jdegoes commented on #1425
I see the problem — a pre error card would prevent deletion of the offending card whose requirements are not satisfied. In the current case, deleting the card is really the only option the user has, since the card has no options for the user to tweak. In hypothetical other cases, the card may have options that permit the "pre error" state to be eliminated.

This really does require a separate inte

[2017-02-27 17:17] natefaubion commented on #1425
Is this not still an issue of evaluation of a card resulting in an error? If the query fails, it doesn't really make sense to continue with evaluating the next card because the view it propagates will be bad too.

[2017-02-27 17:19] jdegoes commented on #1425
@natefaubion I think in this case, the error card properly belongs *before* the table card. Probably the issue with that is the lazy evaluation. Maybe we should solve that problem and punt on the "pre error" card state until we have a use case that demands such functionality.

[2017-02-27 17:25] natefaubion commented on #1425
@jdegoes by lazy evaluation, you mean pulling on a view?

In the published case, I think _right now_ it won't show the error card if the table card errors, but if we move the query into eval, it will show the error card if it fails during the _initial_ eval. We can change it so that it doesn't track the active card when published (since you can't use the slider anyway), in which case it would alwa

[2017-02-27 17:29] jdegoes commented on #1425
@natefaubion

Yes.

I don't really have any preference for how it's done, but I think that since the query is failing, the error card should exist prior to the table card.

[2017-02-27 17:44] cryogenian commented on #1425
I think this is not `pre-error` but more like `runtime-error` because input is correct and we guarantee that output of one card could be used as input of another by design.
Errors like this could appear in case of connection troubles.
That's why I'm suggesting using alert probably with error card on top.
Maybe we could use different evaluation in different producer-consumer pairs (it's same as pos

[2017-02-27 17:50] cryogenian commented on #1425
I mean for me it looks exactly like situation where user types incorrect search query in search card

[2017-02-27 18:21] natefaubion commented on #1443
Do you have a suggestion as to how we could do that in decoding? The only thing I can think of is to decode the unknown ones as a placeholder, and then swap them out when building the graph.

[2017-02-27 18:26] natefaubion commented on #1424
What would the correct behavior be? I'm not sure if the markdown representation treats a series of inputs as a form set, in which case we could use a table layout so they'd all continue to line up. Otherwise we can change the label width to min-width instead, but then they may not necessarily line up. We can also just make them wider, and have overflow with an ellipsis.

[2017-02-27 18:29] jdegoes commented on #1424
@natefaubion I think stuffing them into a table would work well.

Though we should keep in mind that SlamDown is deprecated so it may not make sense fixing this depending on LOE.

[2017-02-27 18:42] cryogenian commented on #1443
Swapping during building the graph sounds good.
OTOH isn't deck model's `cards` is part of eval graph?

I mean iff there exists encoded deck model that has `cards` field and that field has encoded chart card id next to setup metric card id then this is show metric card id, right? Then we could use `StateT AnyCardModel (Either String)` to `decodeCards` in `Workspace.Model`.

I could be wrong though

[2017-02-27 18:56] natefaubion commented on #1424
Since there is no notion of a form set in purescript-markdown, it would involve changing the renderer to collect `Paragraph`s containing `FormInput`s into one, and rendering them as a table. Not a huge level of effort, but more than the style related solutions which are trivial.

[2017-02-27 19:02] natefaubion commented on #1154
@jdegoes I'm not very familiar with the current algorithm and why it is not those things. Do we want to go down the route of schema detection, or should we be relying on Quasar for that?

[2017-02-27 19:08] jdegoes commented on #1154
@natefaubion Yes, we want to leverage statistical structural types to generate the new auto table.

[2017-02-27 19:54] natefaubion commented on #1443
We would have to decode while we build the graph to do that, which is possible, but I think it would make the existing migration stuff we have more difficult, and I think it'd likely be quite a bit more work. I think we already have the model behind a `Maybe`, so we could probably just check for that after decoding.

[2017-02-27 20:08] natefaubion commented on #1443
`FormInput` already has tags to distinguish between the different card types, so we shouldn't need to migrate those in the model, I don't think, we'll just have to change `modelCardType`.

[2017-02-27 21:46] jdegoes commented on #1154
Depends on [quasar-analytics/quasar#1715](https://github.com/quasar-analytics/quasar/issues/1715)

[2017-02-27 21:53] jdegoes commented on #1444
See a [mock here](https://docs.google.com/drawings/d/1YrBauylQ344E931l7tAVeULq4B804QqPZvesFEnRuhw/edit).

[2017-02-28 17:01] beckyconning opened #1461 "Feature test failure: Search for a city"
![unknown](https://cloud.githubusercontent.com/assets/457901/23415514/4d8575e0-fdd7-11e6-8b5a-55c980a681e0.png)

```Unable to find element  using the xPath: (//*[@aria-label = 'Access previous card'])[last()]/following::*[@aria-label='Insert a Open card']```

So it says it can't insert an open card but the screenshot shows an error card presenting "No resource selected". I've only seen that error

[2017-02-28 18:00] natefaubion commented on #1444
@jdegoes Another option might be to just add them to a new column in the dimension picker. I'm happy to do the grid, but if we did the dimension picker it would be a one step process.

[2017-02-28 18:12] jdegoes commented on #1444
@natefaubion I did consider that. In fact the structure editor used to work this way, but @garyb and I decided it was a conflation of the _presentation_ of existing structure, and _transformation_ of that structure. Also consider that one will be more interested in changing the type of transformation of a date/time field, than the actual chosen dimension (for example, switching from minute to hour

[2017-02-28 18:16] natefaubion commented on #1444
👍 It looks like a straightforward usage of the `ActionList` component, but if there's something higher-level on top of that we can reuse, I'll pull it out.

[2017-02-28 18:18] jdegoes commented on #1444
The only real difference with a normal action list is that these items are selectable / unselectable, i.e. they can be toggled on and off. Similar to radio buttons, except in the future we can provide popups to action verbs that require more information to complete the transformation.

[2017-02-28 18:26] natefaubion commented on #1444
For this use case, does that just mean it would be grouped by each `DATE_PART` in order from least specific to most specific?

[2017-02-28 18:32] natefaubion commented on #1444
OK, you said radio buttons, not checks, so I assume only one at a time, or none.

[2017-02-28 21:30] beckyconning commented on #1461
I have a weird feeling that this is the fault of the feature test library module.

[2017-02-28 23:24] natefaubion opened #1463 "Nested dimensions selected in the dimension picker are broken"
If you select `foo.bar.baz` in the dimension picker, it only selects it as `baz`.

[2017-02-28 23:31] garyb commented on #1463
`groupJCursors` / `groupColumns` are the culprits here, instead of producing something like this:

[code]

they produce:

[code]

[2017-03-01 02:16] jdegoes commented on #1444
@natefaubion Yes, only one at a time (or none). I'd say we can arrange least specific to most specific; maybe separate date parts from time parts.

[2017-03-01 17:52] #1424 closed

[2017-03-01 20:28] damonLL opened #1466 "Update help menu URLs"
Current v4.1 Help Menu links point to v3.0 docs.  Need to get these updated to reflect proper version.

Example:  http://docs.slamdata.com/en/latest/users-guide.html

`latest` will always point to latest documentation which is good for new builds, but when building older versions maybe not.

`latest` can be replaced with specific major/minor versions too such as `v4.1`, `v4.0`, `v3.0` and `v2.5`.

[2017-03-01 22:26] natefaubion commented on #1466
Fixed by #1467

[2017-03-01 22:26] #1466 closed

[2017-03-01 22:29] #1461 closed

[2017-03-02 16:22] #1425 closed

[2017-03-02 16:43] #994 closed

[2017-03-02 21:43] #1463 closed

[2017-03-02 23:46] beckyconning opened #1472 "Next action card hint isn't dismissed by accessing next action card"

[2017-03-03 00:14] beckyconning commented on #1458
This probably occurred in the rewrite as I haven't seen it before, I'll take a look as I've been wanting to read through that anyway.

[2017-03-03 01:01] beckyconning commented on #1458
Huh I can't seem to reproduce this so maybe it was in the original. I'll keep trying.

[2017-03-03 01:05] natefaubion commented on #1458
I can reproduce this by slowly resizing my window in and out repeatedly. Admittedly it's not easy, but it does persist even when I make it big again, which is strange.

<img width="1024" alt="screen shot 2017-03-02 at 7 05 55 pm" src="https://cloud.githubusercontent.com/assets/144058/23534100/334a44bc-ff7b-11e6-9601-1192c65fffe3.png">

[2017-03-03 13:03] genxlogics opened #1473 "DateTime issue - Preview Table shows nothing for below Query Card"
Hi,
I m using below query to fetch a timestamp which is as a string in mongodb but preview table card doesnt show anything and nor there is any error

SELECT date_part("second",timestamp(eventState.stateChangeTime))
from `/mongo-dev/messageVault/eventStates`
where eventState.eventState = "PUBLISHED"

Mongo Document

{
    "_id" : ObjectId("58b9496f58663c2e4a56cba3"),
    "_etag" : ObjectId("58b949

[2017-03-03 14:16] beckyconning opened #1474 "Introduce Processes (parameterised views)"
- [x] Add `CREATE FUNCTION` syntax to purescript-sqlsquared
- [x] Add `module` mount type to purescript-quasar
- [x] Add `Process` [`Resource` constructor](https://github.com/slamdata/slamdata/blob/master/src/SlamData/Workspace/Card/Port.purs#L75-L77)
- [ ] Analyze query ASTs to determine whether to use `Process` or `View` in the Query card
- [ ] Use input port type to determine whether to create

[2017-03-03 14:34] beckyconning opened #1475 "Setup cards should be read only to deck consumers."
E.g. query card and setup markdown card.

[2017-03-03 14:37] beckyconning opened #1476 "Save variables changed by deck consumers to local storage and restore this data on load."
Use default values from the saved workspace when unchanged (or incompatible due to schema differences if the deck is updated since it was last opened by the consumer).

[2017-03-03 14:40] beckyconning opened #1477 "Separate database and local storage card state."
This will primarily be form inputs (show markdown card, show form card etc), chart manipulations (hiding / showing series and selections).

Local storage card state will only be applied when consuming a deck (not authoring).

Cards which are read only when consumed will not have any local storage state.

Model/State -> Json

[2017-03-03 16:28] jdegoes commented on #1473
@genxlogics This query looks sensible to me. Can you run the REPL version of Quasar to see how it's compiled to MongoDB query?

[2017-03-03 16:56] jdegoes commented on #1143
@garyb This has shipped in Quasar. Please handoff to someone else if you're working on structure editor and can't take this.

The goal of this ticket is to be able to download and restore workspaces.

[2017-03-03 17:03] garyb commented on #1143
Ah, I mentioned in the (now closed, very outdated PR) but forgot to say here - this is now blocked by https://github.com/quasar-analytics/quasar/issues/1858

[2017-03-03 17:05] cryogenian commented on #1445
* [ ] sql^2 bindings
* [ ] produce sql queries in chart setups using sql^2 bindings
* [ ] cache result queries (i.e. don't query same resource/group by more then once for one card)

[2017-03-03 22:07] garyb opened #1479 "Mount settings dialog is empty when configuring an existing mount in 4.1.3"
Screen capture courtesy of @damonLL:

![screencap](https://d1zjcuqflbd5k.cloudfront.net/files/acc_442644/pit8?response-content-disposition=inline;%20filename=Screen_Capture_on_2017-03-03_at_14-00-16.gif&Expires=1488579078&Signature=d8V7ehJpDOIWB1qIp-uartaNPGXB8oAESNVCyzPyVcqe2CEVSMQAIMPjr6wvc8eLlJnUcUeD-oUy2UA7D44RsDf80J9sDbF9zTemB2fv4inGIPgQNHbxDTtYI8ZRC~nDzIWoj20q0r9y--D~HqaZd1pLrV~gFqGtBwuhbmgC

[2017-03-05 04:24] lobosan opened #1480 "How to integrate ArangoDB and SlamData?"
Is it possible to connect ArangoDB to SlamData and query a graph or use the REST API to create a dashboard?

[2017-03-06 06:17] genxlogics commented on #1473
Hi @jdegoes ,
not sure how do i do that. i am new to slamdata. could you help me do that please?

[2017-03-06 07:44] genxlogics commented on #1473
Ran the query on RPEL as below

select timestamp(eventState.stateChangeTime) from `/mongo-dev/messageVault/eventStates` where eventState.eventState = "PUBLISHED"

result was :
db.eventStates.mapReduce(
  function () {
    emit.apply(
      null,
      (function (key, value) {
        return [
          key,
          {
            "__tmp6": ((isObject(value.eventState) && (! Array.isArray(value.ev

[2017-03-06 09:01] genxlogics commented on #1473
Hi @beckyconning @jdegoes ,
please help !!!

[2017-03-06 09:33] yogevNisim opened #1481 "Add charts color editing"
Changing the charts color for different outputs will allow users to control their UI and match their solution

[2017-03-06 09:35] yogevNisim opened #1482 "Add auto-refresh"
Enable data auto-refresh for not just showing data but also allow users to explore their data changes

[2017-03-06 12:06] garyb commented on #1419
@beckyconning is this still an issue now the "no-refresh sign-in" has been merged? Seems like it would have been fixed as part of that now :)

[2017-03-06 13:13] #1479 closed

[2017-03-06 15:51] beckyconning commented on #1419
Yeah this is fixed now. Might raise another issue regarding number of notifications.

[2017-03-06 15:51] #1419 closed

[2017-03-06 15:52] beckyconning opened #1485 "Ensure only one sign in notification on auth issue."
Sometimes it appears there are more than one.

[2017-03-06 15:54] beckyconning opened #1486 "Date and Time markdown fields don't work with MongoDB."
Reported by a customer and also related to https://github.com/slamdata/slamdata/issues/1252#issuecomment-263942396

[2017-03-06 16:59] #1486 closed

[2017-03-06 17:40] jdegoes commented on #1473
@genxlogics Looks like a bug. Thanks for the full output!

[2017-03-06 17:41] jdegoes commented on #1480
@lobosan SlamData only supports what [Quasar Analytics](http://github.com/quasar-analytics/quasar/) supports. Currently Quasar does not have an ArangoDB connector (however, it would be possible for us to add one).

[2017-03-06 17:49] beckyconning opened #1489 "Focus deck frame hint presented more than once."

[2017-03-06 18:10] #1489 closed

[2017-03-06 21:53] jdegoes opened #1491 "Enhanced chart setup"
The enhanced chart setup is designed to achieve the following goals:

1. Allow users to apply very simple transformations to dimensions without first having to transform the data set with a query or structure editor card (for example, snapping dates to the nearest day; rounding numbers to the nearest number; standardizing capitalization of strings; etc.).
2. Allow users to supply custom labels tha

[2017-03-06 21:53] jdegoes commented on #1491
@natefaubion @cryogenian This should work for pivot table and for the other charts, and is enough for now. We can make it fancier later.

[2017-03-06 22:19] natefaubion commented on #1491
Are there any other transforms to spec besides date/time/datetime parts?

[2017-03-06 22:40] jdegoes commented on #1491
The following would all be nice to have:

**Numeric**

 * Round, ceil, floor
 * Round, ceil, floor to nearest N

**String**

 * Uppercase
 * Lowercase

[2017-03-06 22:49] natefaubion commented on #1491
Is the intention to only have transformations that are supported by SQL^2?

[2017-03-06 22:50] natefaubion commented on #1491
I say that because there are lots of formatters we could add in the frontend: approximate time, comma formatting, currency, bytes, etc.

[2017-03-06 23:05] jdegoes commented on #1491
To keep the architecture simple for now, let's restrict to SQL2. This will also assist with the pivot table which generates a GROUP BY based on the transformation applied to the dimension (which ideally should be done server-side).

[2017-03-07 09:24] genxlogics commented on #1473
@jdegoes any idea when the bug fix will be available?

[2017-03-07 13:32] jdegoes commented on #1473
@genxlogics Hopefully in the 4.2 release. If you have a commercial support contract with SlamData (the company commercializing this project) you can probably get it fixed faster.

[2017-03-07 13:48] cryogenian commented on #1491
@jdegoes What about `sum`, `product` and other aggregation funcs? Are they going to structure editor?

[2017-03-07 13:50] cryogenian commented on #1343
@jdegoes Is this necessary? I'm just not sure how this is affected by #1491

[2017-03-07 13:54] jdegoes commented on #1343
We could go with something simpler, e.g.:

![labeled-picker-mock](https://cloud.githubusercontent.com/assets/156745/23659267/d3711738-0302-11e7-8b4e-a8cfa864b035.png)

Since we're not doing any dynamic labels, this simpler layout may work better.

Tapping on the default label can open an inline editor which allows changing the label. This assumes the label must be a string which is the case curren

[2017-03-07 13:56] cryogenian commented on #1343
And should this buttons fill whole card or have maximum sizes like they have now?

[2017-03-07 14:05] jdegoes commented on #1343
Let's keep them as they are for now, but with better labels and annotations and more options, eventually there will be enough content to improve space filling.

[2017-03-07 14:08] jdegoes commented on #1491
@cryogenian The current SUM, COUNT, etc. aggregations which appear for measures dimensions will stay on the chart setup, but we need to generate SQL2 for them, rather than perform the aggregations on the client-side.

It occurs to me that we can put these aggregations on the gear icon for any measure dimension—with, maybe, the default being `SUM`. Then we can get rid of the separate aggregation ty

[2017-03-07 14:12] cryogenian commented on #1491
:+1: So for measure axes we use aggregation as now, for labels uppercase and lowercase. Where should go `round/ceil/floor`?

[2017-03-07 14:15] jdegoes commented on #1491
@cryogenian It would be: for measure axes, use aggregations as the verbs that popup with the gear palette. For string dimensions, use string transformations as the gear verbs. For numeric dimensions not on measure axes, use numeric transformations (round, ceil, floor, etc.).

@natefaubion It occurs to me we can move the aggregations of the pivot table into the column headers, as a gear icon. This

[2017-03-07 14:34] cryogenian commented on #1491
How user will know what is selected in gear submenu? Changed text on main button?

[2017-03-07 14:37] jdegoes commented on #1491
@cryogenian @natefaubion How about for now, we pretty print the transformation, e.g.:

 * `Quarter of timestamp`
 * `Uppercase of full_name`
 * `Round of total_revenue`
 * Etc.

Another option is to render the SQL2 literally, which would work well now (since likely the user knows and uses SQL2, but may work less well as you can do more and more things without knowledge of SQL2).

[2017-03-07 15:28] natefaubion commented on #1343
@jdegoes I'm a little confused why the plus icon. The cell is currently the stringified dimension with an `x` icon in the corner. Should I display both the dimension and the generated label, where clicking on the generated label allows one to edit it?

<img width="379" alt="screen shot 2017-03-07 at 9 29 08 am" src="https://cloud.githubusercontent.com/assets/144058/23663522/65a126b0-0318-11e7-97ea

[2017-03-07 15:33] jdegoes commented on #1343
@natefaubion The generated label is editable–that's my only concern. In other words, we're deprecating the double plus (one for value, one for label), and moving to inline editing of labels. The plus icon shown in the above mock is not super realistic, since if you had a default label, you must have already chosen the dimension, in which case the plus icon would no longer be appearing. Does that m

[2017-03-07 15:33] natefaubion commented on #1491
I'm fine with moving the aggregations. The reason they are where they are is because it would otherwise be dead space. I don't really like hiding the chosen aggregations though. I think that's useful information to see upfront. Are you imagining anything in particular for a preview? I'm not sure what that would look like given the rest of the layout. Maybe it would be better to rethink the layout?

[2017-03-07 15:35] natefaubion commented on #1343
The same `x` icon is already used in the chart setups to clear it AFAIK.

[2017-03-07 15:41] natefaubion opened #1493 "Action list layout should favor "squarer" layouts"
In the current ActionList component, if there are 8 cells, it will generate a 4x2 layout, which can lead to extreme dimension on either the width or height of actions. In this case I think it would be better to favor a 3x3 layout with an empty cell.

[2017-03-07 15:44] natefaubion commented on #1493
Basically if the calculated ratio of width to height is past some threshold, it should probably try another layout.

[2017-03-07 15:47] jdegoes commented on #1491
See the above recommendation for "pretty printing" the transformation.

It would be the rendered pivot table, or at least as much as could fit in the space. The layout of the configuration should closely match the actual layout; in an ideal world, we'd have enough space so the setup card becomes the actual render card, allowing users to directly interact with the card (maybe editing controls disap

[2017-03-07 15:51] natefaubion commented on #1491
Yes, but it resembles other chart setups more.

[2017-03-07 15:52] natefaubion commented on #1491
The pretty printing suggestions would quickly clip/overflow.

[2017-03-07 15:53] natefaubion commented on #1491
Is there something wrong with the way the aggregations are done in the chart setups right now? As a select on the bottom side of the cell?

[2017-03-07 15:58] natefaubion commented on #1491
For the columns, do we need the capability to apply both a transformation and an aggregation? Or does the application of a transformation necessitate `Tabulate`.

[2017-03-07 15:59] jdegoes commented on #1491
Yes, it's inconsistent with how we are using the gear icon to represent application of a transformation to the data set. We're not going to use the gear icon to represent a transformation in one case but not another case.

Let's use LOD: `Count of foo` -> `Count`, `Quarter of timestamp` -> `Quarter`. The transformation is more important than the dimension.

That's a good argument for changing the

[2017-03-07 16:00] jdegoes commented on #1491
No, just an aggregation transformation, as for `Measure` dimensions. Ultimately a user might like to do lots of manipulation of the data, and while we can extend the current verb palette to allow stacking (at some point in the future), for now the answer will be to use the verb for only simple transformations, and to use the structure editor for anything significant.

[2017-03-07 16:18] natefaubion commented on #1491
👍

@garyb we definitely want to be consistent with the structure editor then wrt to iconography. Are the specific icons we should be using for the gear and x?

[2017-03-07 16:32] jdegoes commented on #1491
Here's [another mock](https://docs.google.com/drawings/d/1bExYHTV-xz773mFwKSdP49fqzTzBSvETf-yiwMAlpv4/edit) updated to reflect the above discussions.

[2017-03-07 17:20] garyb commented on #1493
Yay for box packing problems.

[2017-03-07 17:22] jdegoes commented on #1493
We have some "blank" icons (Murray, flatirons, etc.) which it would be nice to use for easter eggs in cases like this.

[2017-03-07 18:36] damonLL opened #1494 "Focus hint doesn't stay dismissed"
See animated gif here:   http://d.pr/i/kjhk

Also tried hard reloading page to refresh JavaScript cache as well as reloading workspace, exiting and going back in.

This is on latest master as of 3/7/2017.

[2017-03-07 19:31] garyb commented on #1491
@natefaubion I don't have a gear icon yet, just using text placeholders - I'll use whatever you use.

As for x... it depends. We have a consistent x-in-a-circle for clearing input fields / selections, but I'm not sure if that's quite the same case here? It's pretty bold too:

![clear-field](https://cloud.githubusercontent.com/assets/693642/23674098/9f3b3bb4-036c-11e7-9deb-ba3eaf7fc140.png)

[2017-03-08 12:52] rabbitonweb opened #1495 "Make spark-local mountable"
`spark-local` is another connector based on Apache Spark. It allows to use SlamData/Quasar with files and folders from local file systems. It does not require Spark really (sic!) as it emulates it.

We need ability to mount this `spark-local` connector from UI. Connection URI will be a single string representing a path to a folder

Part of https://github.com/quasar-analytics/quasar/issues/1899

[2017-03-08 12:53] rabbitonweb commented on #1495
Part of https://github.com/quasar-analytics/quasar/issues/1899

[2017-03-08 13:16] rabbitonweb opened #1496 "spark-local as default mounting point to some examples"
This feature should probably be added once https://github.com/slamdata/slamdata/issues/1495 is done

The idea is to define default mount point that would be automatically mounted if no configuration is provided when Quasar starts. A `spark-local` connector pointing to folder holding some example jsons.

[2017-03-08 13:17] rabbitonweb commented on #1496
Part of https://github.com/quasar-analytics/quasar/issues/1899

[2017-03-08 14:09] rabbitonweb opened #1497 "Support new connectionUri for spark-hdfs"
`spark-hdfs` will get a new format for `ConnectionUri` - specification is defined in https://github.com/quasar-analytics/quasar/issues/1900#issuecomment-285041338

UI must adhere to those changes

[2017-03-08 14:10] rabbitonweb commented on #1497
Part of https://github.com/quasar-analytics/quasar/issues/1900

[2017-03-08 18:35] beckyconning opened #1498 "Repeatedly previewing a published deck appears to break permission token."

[2017-03-09 04:45] fanouxTomo opened #1499 "could not find SQL2 command to convert a date string to unixtimestamp"
The markup scripting allow to simply make an input date
setBeginDate = ____-__-__
but if in the db there are some unix timestamp it seems there is now way to make a comparison.
For instance, the following will always be true
:setBeginDate>TO_TIMESTAMP(1489030411)
and
TIMESTAMP(:setBeginDate)>TO_TIMESTAMP(1489030411)
Will create and error

Error compiling query: An unknown error ocurred: 400 "{ \"e

[2017-03-09 08:12] genxlogics opened #1500 "Showing chart for a single Table"
Hi,
i have a table which includes elapsed time (miliseconds) of a message and message ID as below

ElapsedTime                     MessageId
234                                   uuid1
310                                   uuid2
.....                                     ..............

now what i want is to show a pie chart/bar chart where i can show cout of messages which took less than 500 milis

[2017-03-09 15:30] jdegoes commented on #1500
What you want to do is trivially possible with a `GROUP BY` query. However, this bug tracker is for bugs, not support. Please use the SlamData community forum to receive help on how to use the product.

[2017-03-09 15:30] #1500 closed

[2017-03-09 15:33] jdegoes commented on #1499
The problem is you are wrapping the `DATE` literal in `TIMESTAMP`. But `TIMESTAMP` expects a string, not a date. You should change to `:setBeginDate > TO_TIMESTAMP(1489030411)`.

Also, please use the SlamData community support forum for anything which is not a bug (this is most definitely not a bug).

[2017-03-09 15:33] #1499 closed

[2017-03-09 16:37] natefaubion commented on #1491
<img width="809" alt="screen shot 2017-03-09 at 10 38 17 am" src="https://cloud.githubusercontent.com/assets/144058/23760133/635f8de0-04b4-11e7-9d88-293357d223d0.png">

[2017-03-09 16:47] jdegoes commented on #1491
This looks really nice. Shouldn't Code Desc and SSN be "Tablulate"? Also, it'd be nice to make the header names bold, and not make the selector bold, since it emphasizes the presentation in the final result, rather than emphasizing an implementation detail (the chosen dimension).

[2017-03-09 16:47] jdegoes commented on #1491
@cryogenian Let's make sure we use the same control / LAF for the chart setup enhancements.

[2017-03-09 16:51] natefaubion commented on #1491
@jdegoes "Tabulate" is just a lack of a transform. I suppose I can show it as the default state on the columns?

[2017-03-09 16:52] jdegoes commented on #1491
No, if it isn't an explicit option in the action list let's just leave it out.

[2017-03-09 16:55] jdegoes opened #1501 "Output details of compiled query as a variable that can be inspected with troubleshoot card"
Users need better access to "explain" type information showing the details on a query compilation, including the physical plan. In order to facilitate this within the existing structure, let's use one or more variables to store the compilation phase results, so they can be inspected with an ordinary troubleshoot card. In addition, we should probably consider using jtable for the troubleshoot card,

[2017-03-09 16:58] natefaubion commented on #1491
<img width="885" alt="screen shot 2017-03-09 at 10 59 02 am" src="https://cloud.githubusercontent.com/assets/144058/23761055/39d01c62-04b7-11e7-984c-80978ec88da7.png">

[2017-03-09 20:39] jdegoes commented on #1491
@natefaubion The one thing I'd say we can improve on is creating a stronger sense of grouping between each label / value pair. Currently the divider between the label and value is as strong as the divider between different groups, so there is not enough visual contrast to group the label and value together. Otherwise, looks great.

[2017-03-09 21:35] natefaubion commented on #1491
@jdegoes I've increased the border width
<img width="885" alt="screen shot 2017-03-09 at 3 35 55 pm" src="https://cloud.githubusercontent.com/assets/144058/23771736/e5562e66-04dd-11e7-95c1-3a3a78108fcb.png">

[2017-03-10 12:08] rabbitonweb commented on #1497
How should we sync the front-end with backend changes? I'll push today a PR with backend changes, given it will be reviewed, when should I merged it? Before front-end changes, after front-end changes OR should I provide backward compatibility for few weeks? (we have no spark customers yet)

[2017-03-10 12:10] garyb commented on #1497
Merge it before I'd say - we make SlamData releases against specific versions of Quasar/QAdv, so once a release has been made with the changes in we'll update the frontend to work with the new connection schema.

[2017-03-10 14:48] cryogenian commented on #929
@garyb @natefaubion What this thing should do? Is it a message from component to eval graph, like `Clear cache for this card and ancesstors, evaluate them again, but do not save` or something else?

[2017-03-10 14:51] cryogenian commented on #1343
Closing this

[2017-03-10 14:51] #1343 closed

[2017-03-10 18:14] natefaubion commented on #929
The `cache` part of it is kind of moot now, as that was before the eval rewrite. Basically the issue is that there are occasionally model changes that need to be persisted, but which do not actually effect the result of evaluation. For example, adjusting the panel sizes in the dashboard, or the ordering of tabs. Right now, all model changes go through `Persistence.publishCardChange`, which always

[2017-03-10 18:59] cryogenian commented on #955
See purescript-leaflet

[2017-03-10 18:59] #955 closed

[2017-03-10 20:43] rabbitonweb commented on #1497
@garyb Awesome, I will post here once that change is in master

[2017-03-11 23:16] rabbitonweb commented on #1495
Backend now supports `spark-local` where you just provide path to local file system - see https://github.com/quasar-analytics/quasar/pull/1952 for details

[2017-03-13 14:45] cryogenian commented on #1491
@jdegoes For chart axis labels we should provide labels based on other axes, right? Like label buttons in setup form inputs.
As far as I understand this it's just mapping from e.g.
[code]
This will change chart legends to readable.
Could we modify uniqueness label/value pair check to just alter label text?

[2017-03-13 14:55] jdegoes commented on #1491
@cryogenian In theory, the user can choose labels from another dimension. What happens if two points which fall on the same projected point end up with different labels? There is no useful way to graph such a case. For this reason, what is really needed is a way for the user to map every point to a label in a deterministic way — i.e. a "labeling function" applied to the value of the data point.

T

[2017-03-13 15:00] cryogenian commented on #1491
@jdegoes but we don't use column names in charts only their values. It works like
+ We have tons of points in measure axis
+ We group it by category axis.
+ We label groupped values by category axis values and take labeled points.
+ If there are more than one category axis then we group by their cartesian product and use first axis values as plot names, second as series name, third as data label e

[2017-03-13 15:15] cryogenian commented on #1491
@jdegoes I can change tooltips and legend to take additional label strings, will it work?
For example now tooltip maybe something like this
[code]
And it will be changed to
Default
[code]
With labels
[code]
And for legends
Currently
[code]
Default
[code]
With labels
[code]

[2017-03-13 15:22] garyb opened #1505 "Variables card inputs misbehave"
After adding a field, the last item used to add a new field is uneditable, so you have to add a field, reload, add a field, reload to be able to add more than one.

[2017-03-13 15:24] garyb opened #1506 "Pressing tab in a deck can jump forward"
Sometimes you end up with half a card left in the view, or other weird things happening where the card display has moved forwards but the deck cannot be dragged backwards as the state for that has not been updated.

To reproduce: Add a variables card and keep hitting tab. I think it's when the tab index moves from the card fields into the search bar for the next action card.

[2017-03-13 15:26] natefaubion commented on #1506
This is because tabbing into form fields always moves the `scrollLeft` and `scrollTop` properties of an element until the field is visible, even when the container has `overflow: hidden`.

[2017-03-13 15:27] natefaubion commented on #1506
Maybe we need to set non-visible cards to `visible: hidden`?

[2017-03-13 15:28] garyb commented on #1506
Or disable their inputs at least, yeah.

[2017-03-13 15:40] rabbitonweb commented on #1497
Backend implemented https://github.com/quasar-analytics/quasar/pull/1958

[2017-03-13 15:40] jdegoes commented on #1497
@rabbitonweb Is there a released Quasar & QA version the front-end team can use for testing?

[2017-03-13 16:20] garyb commented on #1505
I know what's wrong here, almost have a fix ready. It's related to the disabling of fields in publish mode.

[2017-03-13 16:46] jdegoes commented on #1491
@cryogenian Yes. Currently the names of the dimensions are chosen by the `JCursor`, which is not very friendly. Instead, user should be able to provide static strings to rename the dimensions, as for Pivot Table.

We do need to consider dynamic labels at some point, but I think the simple improvement of allowing non-`JCursor`-derived labels (for dimensions, which appear on tooltips and possibly ax

[2017-03-13 17:07] garyb opened #1508 "Add tests for the Variables card"

[2017-03-13 17:07] #1505 closed

[2017-03-13 19:13] natefaubion commented on #1491
@jdegoes for round/ceil/floor, do we want to just provide a fixed set of options in a drill down action list? So click on "Round", and then select from "Whole", "Thousands", "Hundred", "Tens", "Tenths", "Hundredths", "Thousandths"? Having arbitrary rounding would require a new interaction for action lists.

[2017-03-13 19:25] jdegoes commented on #1491
@natefaubion I do want to add a new interaction semantic: if a verb requires arguments, a new dismissible modal pops up with fields that ask for the specified arguments. If you enter them, you can Confirm, which then enables the given verb. If you disable and then re-enable, then you have to enter the arguments again (possibly with pre-filled defaults); this is how you change arguments, as well.

[2017-03-13 19:35] natefaubion commented on #1491
Just to be clear: when you click the option, you get a modal to fill out. If you fill it out and accept it, the option is the selected. If you click it again, it deselects it. Click it a third time, and you must enter the options again.

So is this interaction spec'ed out for other features (like the structure editor)? I've written an `ActionSelect` component, which I can extend and parameterize,

[2017-03-13 19:46] jdegoes commented on #1491
Yes, this is correct, although the form could remember the previous settings.

@garyb will definitely need it, though I'm not sure if it's well-spec'd out anywhere.

[2017-03-14 14:39] zeeiyerWork commented on #957
@jdegoes -> Maxim says he needs a few more pointed specs on this.

[2017-03-14 14:47] jdegoes commented on #957
@cryogenian You created this ticket, so I am not sure what it refers to. Are you referring to the chart setup option? If so, I will create mocks / specs today.

[2017-03-14 15:21] cryogenian commented on #957
@jdegoes Basically how this should work and what kind of data should be here
+ What kind of charts are supported: points, lines, polygons.
+ Are there additional things like pointer size, color or something
+ Is user able to select/input map source or we're going to provide open source one/hosted by quasar
+ What kind of data is able to be charted, like is it only paired (like label/value in form

[2017-03-14 17:47] jdegoes commented on #957
@cryogenian See above description. I can work on mocks too.

[2017-03-14 18:40] cryogenian commented on #957
@jdegoes Thanks! How does intensity works for marker map? Transparency?

[2017-03-14 20:36] jdegoes commented on #957
@cryogenian No, it's color, using the same linear intensity color scale as the heat map (green -> blue -> red, I think).

[2017-03-15 16:11] beckyconning opened #1510 "Markdown field type changes ineffectual after value change"
To reproduce

* Create a new workspace
* Rename untitled deck to "Markdown bug"
* In deck named "Markdown bug"
  * Insert Setup Markdown Card
  * Provide Markdown "greetings = __ (hi)"
  * Run query
  * Access next action card
  * Insert Show Markdown Card
  * Provide "greetings" field value "hello"
  * Access previous card
  * Provide markdown "greetings = { hello, hi, konichiwa } (hi)
  * Run qu

[2017-03-16 11:29] beckyconning commented on #1137
Done

[2017-03-16 11:29] #1137 closed

[2017-03-16 11:33] beckyconning commented on #1475
Done

[2017-03-16 11:33] #1475 closed

[2017-03-16 11:34] beckyconning commented on #1476
Although this is a different idea to #1477 I'm pretty sure that #1477 actually achieves this, will re open if it doesn't.

[2017-03-16 11:34] #1476 closed

[2017-03-16 11:36] beckyconning commented on #997
This should be done when #1477 and #1474 are done : )

[2017-03-16 11:40] beckyconning opened #1511 "Persist changes in presentation on charts."
#997 mentions "Changes in presentation on charts"

This seems to currently be limited to hiding / presenting series. I'm assuming in the future it will be expanded to selections for drill down?

Would it be enough to persist which series are hidden / presented to fulfil #997?

[2017-03-16 11:44] beckyconning commented on #1140
Done

[2017-03-16 11:44] #1140 closed

[2017-03-16 11:52] beckyconning commented on #1496
Probably won't happen this iteration.

[2017-03-16 11:55] beckyconning commented on #1435
Probably won't be done this iteration.

[2017-03-16 11:56] beckyconning commented on #1434
Probably won't be done this iteration.

[2017-03-16 12:01] beckyconning commented on #1390
Preview table / pivot table performance is fine.

This is related to performance of show form cards and chart cards.

[2017-03-16 12:02] beckyconning commented on #1390
Related to #1445

[2017-03-16 12:03] beckyconning commented on #1390
Probably won't be complete this iteration.

[2017-03-16 12:03] beckyconning commented on #1494
Fixed. @damonLL please check its fixed.

[2017-03-16 12:03] #1494 closed

[2017-03-16 12:06] beckyconning commented on #1306
Done.

[2017-03-16 12:06] #1306 closed

[2017-03-16 12:07] beckyconning commented on #1296
Isn't assigned in backend. Probably won't be done in this iteration.

[2017-03-16 12:08] beckyconning commented on #1213
Done.

[2017-03-16 12:08] #1213 closed

[2017-03-16 12:09] beckyconning commented on #1435
#1154 is a sub issue.

[2017-03-16 12:13] beckyconning commented on #1133
@damonLL @jdegoes we need more information / specs on this please : )

[2017-03-16 12:15] beckyconning commented on #927
@toastal @vincent will work on themes

@cryogenian will work on echarts themes with @safareli

probably not finished in 4.2 so moving to 4.3

[2017-03-16 12:22] beckyconning commented on #1506
We can do this using the nodewise disable : )

[2017-03-16 12:24] beckyconning commented on #1447
This appears to be an Apache Tomcat configuration issue.

I haven't observed any issues when both Quasar and SlamData are available on HTTPS.

[2017-03-16 12:26] beckyconning commented on #1286
Hi @PraveenkumarDonga. Is this still causing you issues?

[2017-03-16 12:27] beckyconning commented on #1271
Done.

[2017-03-16 12:27] #1271 closed

[2017-03-16 12:27] beckyconning commented on #1270
Done.

[2017-03-16 12:27] #1270 closed

[2017-03-16 12:28] beckyconning commented on #1269
Done.

[2017-03-16 12:28] #1269 closed

[2017-03-16 12:28] beckyconning commented on #1268
Done.

[2017-03-16 12:28] #1268 closed

[2017-03-16 12:28] beckyconning commented on #1267
Not needed.

[2017-03-16 12:28] #1267 closed

[2017-03-16 12:29] beckyconning commented on #1204
Fixed.

[2017-03-16 12:29] #1204 closed

[2017-03-16 12:29] beckyconning commented on #1198
Fixed.

[2017-03-16 12:29] #1198 closed

[2017-03-16 12:30] beckyconning opened #1512 "Pivot table add column last change can be lost at high interaction speed."

[2017-03-16 12:30] beckyconning commented on #1196
Caused by #1512. This issue is no longer needed.

[2017-03-16 12:30] #1196 closed

[2017-03-16 12:31] beckyconning commented on #1190
Caused by #1512. This issue is no longer needed.

[2017-03-16 12:31] #1190 closed

[2017-03-16 12:33] beckyconning commented on #973
This still happens.

[2017-03-16 12:34] #1010 closed

[2017-03-16 12:36] beckyconning opened #1513 "Refactor authentication."

[2017-03-16 12:36] beckyconning opened #1514 "Rework authentication ux."

[2017-03-16 12:38] cryogenian opened #1515 "Migrate to purescript-sqlsquare"

[2017-03-16 12:40] beckyconning commented on #1173
@benjaminseow is this still causing you issues?

[2017-03-16 14:32] beckyconning commented on #1481
Related to themes #927

Related to echarts themes #926

[2017-03-16 14:33] jdegoes commented on #1133
@cryogenian @beckyconning Here is my current idea:

1. First, we allow "1-step" transformation (action verb) applied to any date, time, or date time dimension. All charts need type-sensitive 1-step transformation options, so this isn't a big step. As with the pivot table and all other charts, the transformation occurs prior to the grouping created by the aggregations applied to the measure dimensi

[2017-03-16 14:41] cryogenian commented on #1481
@beckyconning I don't think so, this one is separate probably, like adding control to current UI allowing selecting colors

[2017-03-16 14:42] beckyconning commented on #1481
From a high level perspective they are related.

I.e. how to provide deck authors with control over chart colouring.

[2017-03-16 14:44] jdegoes commented on #1511
Yes. Note that in the future, you will probably be able to control things like "range" via charts (zoom in, zoom out, pan), and of course drill down, and all these settings should be preserved locally when the deck is in view mode.

[2017-03-16 14:44] beckyconning commented on #1511
Sounds good thanks!

[2017-03-16 14:46] cryogenian commented on #1133
@jdegoes What's "1-step" transformation, could you provide example of this?

[2017-03-16 14:48] beckyconning commented on #997
@jdegoes i was thinking that when a consumer comes back to a deck that consumer has modified in the past that a dialog similar to the "would you like to have the applications you were using re-opened for you?" dialog which is presented when you restart your computer would be presented.

something along the lines of "hey you've seen this deck before and changed some stuff! would you like to restore

[2017-03-16 14:55] beckyconning commented on #997
as it might be quite confusing to have for example some of the changes you made and some new author changes which have been patched in appear in a deck embedded in an article or something.

this isn't the only way of going about this though. essentially the thing i want is for the consumer to have control over whether they are being presented with self made changes or not.

another idea would be a

[2017-03-16 15:05] jdegoes commented on #1296
@beckyconning Please don't just remove the milestone; rather, bump it forward to the next milestone. All the things which have no milestones are prioritized less than those which do have milestones, and I'm not eager to recreate this prioritization manually.

[2017-03-16 15:05] jdegoes commented on #1133
@cryogenian See [here](https://docs.google.com/drawings/d/1bExYHTV-xz773mFwKSdP49fqzTzBSvETf-yiwMAlpv4/edit) and related discussion which we've been having for a couple weeks on the issue. 😄

[2017-03-16 15:09] beckyconning commented on #1296
I've made a list of each of the issues I removed the 4.2 milestone from (which i posted in #frontend) so I can re-add these now.

@zeeiyerWork mentioned that the next milestone 4.3 may well be focused on technical debt rather than new features and that these unassigned issues may well be better off on a backlog.

with that in mind should i add these back to 4.2, to 4.3 or create a new milestone ca

[2017-03-16 15:11] jdegoes commented on #997
By default, the users own changes should always be persisted (this is the way all modern SAAS applications work, they don't even have 'save' buttons anymore; indeed, it's the way OS's are trying to work, if they didn't have all the legacy crap to deal with).

I'm OK with a "reset" button that restores a deck to its "factory default" values, but let's do that as a separate feature.

[2017-03-16 15:11] cryogenian commented on #1133
Oh! That's cool! So this is additional groupping by date|time thing that transform axis from continuous to discreate, right? And this inserts zeros to missing stuff.
But I'm not sure how to make dynamic interval, like 5 points -- 1 per minute and next 5 -- 1 per second.

[2017-03-16 15:16] jdegoes commented on #1133
@cryogenian Single-step transformations apply to any type of dimension (please see @natefaubion's work with the pivot table), but they offer different verbs depending on the dimension type (e.g. string versus numeric versus date/time). The transformations are applied _prior_ to grouping (which in the charts is dictated by the aggregations applied to the Measure dimensions), so they have the effect

[2017-03-16 15:54] beckyconning commented on #997
Sounds good thanks!

[2017-03-16 16:00] beckyconning opened #1516 "Add inDeckNamed to feature tests"
E.g

[code]

[2017-03-16 16:00] beckyconning opened #1517 "Split interactions / expectations into modules"
E.g. all open card interactions are in the same module all deck interactions are in the same module etc.

[2017-03-16 16:04] beckyconning opened #1518 "Make scenarios log steps and screenshots on failure."

[2017-03-16 16:05] beckyconning opened #1519 "Feature test tool that allows for running of only specific scenarios."

[2017-03-16 16:09] rabbitonweb commented on #1496
@beckyconning by iteration you mean `4.2` - correct?

[2017-03-16 16:09] beckyconning commented on #1496
correct.

[2017-03-17 08:22] benjaminseow commented on #1173
I haven't looked at building from source since that time.

[2017-03-17 11:39] garyb commented on #1173
It still seems pretty bad whenever we build the installers... I don't know what else we can do though, we're fetching it in the "correct" way according to the GitHub API/docs.

[2017-03-17 19:05] garyb commented on #1510
I think it's probably due to this not being quite right: https://github.com/slamdata/purescript-markdown-halogen/blob/f69007411af8b25fb51c99b6658021d0609b10f9/src/Text/Markdown/SlamDown/Halogen/Component/State.purs#L167-L189, even though it looks right-ish at a glance anyway.

If not there, then it's something in how the containing `replaceDocument` works anyway, as that's where all the logic for

[2017-03-17 20:07] beckyconning opened #1522 "Provide LocalStorage through interpretation of SlamF."
With phantom types to constrain the key to retrieving a value of a given type.

[code]

[2017-03-17 23:06] zeeiyerWork commented on #1224
@natefaubion , @jdegoes  -> Nate I thought you mentioned that this is likely to slip 4.2 and that you were unclear if this was truly higher priority than other things on your plate. If @jdegoes agrees,  should be move this to backlog or a later iteration such as July2017 or August2017.

[2017-03-17 23:08] zeeiyerWork commented on #1184
@natefaubion , @jdegoes  -> seems like the evaluation semantics here are not clear in certain scenarios - The issue possesses a 4.2 moniker, but I suppose Nate says we need better definition. Should this then return to the backlog or return to a later iteration, while it gets elaborated in greater detail.

[2017-03-17 23:11] jdegoes commented on #1184
This was superceded by the tab layout, which is all we need for now. I'll close this.

[2017-03-17 23:11] #1184 closed

[2017-03-17 23:15] zeeiyerWork commented on #1021
The ideal way to decide on the prioritization of this issue would be to base it on data of our consumer base (i.e. how many users actually use Safari/IE-11/Firefox?) and if that number is currently or likely to be reasonable, then makes sense investing the time, since this appears to be non-trivial. But seems like we don't have the data and let's assume that the current workaround of actually just

[2017-03-20 14:29] safareli commented on #1021
Yes!

[2017-03-20 14:42] zeeiyerWork commented on #1021
OK @safareli  - I will assign this to you. You can perhaps discuss with @natefaubion and @garyb  - on how they'd like you to proceed.  Thanks. Note that there maybe other higher priority work that gets assigned to you, in which case, you kind of work on this in the background Thanks.

[2017-03-20 16:18] jdegoes commented on #1497
@zeeiyerWork This is a priority, please make sure @rabbitonweb works with front-end to implement this in a timely fashion.

[2017-03-20 16:37] jdegoes commented on #1224
👍 We can move this to a 4.3 milestone.

[2017-03-20 17:10] zeeiyerWork opened #1524 "EP"

[2017-03-20 17:12] zeeiyerWork commented on #1524
EJSon is used for consuming results in most places, but not all and not for decoding workspaces / stored state. This issue is to rectify that.

The (if appropriate question in the Title) relates to this comment: "Need to benchmark whether directly parsing EJSON format directly is faster than going via the JSON encoding - JSON.parse is provided by the browser, so parsing a structure produced by tha

[2017-03-20 17:14] zeeiyerWork commented on #927
Additional comments from the team
- Drop using bootstrap
- Theming in purescript (echarts etc.),
- purescript-css debt (template for all styles we have).

[2017-03-20 17:16] zeeiyerWork opened #1525 "Purescript-sqlsquare as against string interpolation for queries."
Use purescript-sqlsquare throughout the frontend rather than string interpolation for queries (already somewhat in progress)

[2017-03-20 17:41] zeeiyerWork opened #1526 "Integration Test Suite Scope/Coverage Enhancement: Phase-A"
Fix the following:

1. Currently only a handful of card types are covered. So include exhaustive coverage of all Card Types.
2. Modify test monad to be able to log debug information that is only printed when a test fails, to make failures easier to interpret
3. Switch to using purescript-xpath rather than strings
4. In addition to specific "Actions" or "Verbs", also include more complex scenarios

[2017-03-20 17:46] zeeiyerWork commented on #1457
Also explicitly highlight "Not Supported" Operations.

[2017-03-20 17:52] jdegoes commented on #1457
@zeeiyerWork This doesn't really fit in the scope of technical debt, nor is it a minor enhancement. It's a massive feature in Quasar Analytics because it requires analyzing the query and comparing it with the underlying statistical structural types for the source paths, then feeding back error and warning messages as appropriate. Note that even in this case, unless the SST is exact (i.e. computed

[2017-03-20 17:56] zeeiyerWork opened #1527 "EPIC: Front-end debug mode where PhaseResults are consumed."
As a user, I may wish to consume administrative statistics such as:

1. How long the query took to run and collect debugging information (LP generation time, QScript compilation time, Store Dialect conversion time, Total execution time on the backend etc.). Our best approximation of this is the PhaseResult, which backend believes is returned to the front-end upon API invocation.

2. This issue is

[2017-03-20 18:05] zeeiyerWork commented on #1456
Yeah it would require that

1. Mutations made to underlying Store Tables (via the Virtual File System Interface provided by the UI) be captured by the front-end and propagated to the backend.
2. Direct Mutations to the underlying store would also need to be tracked (e.g. what if a user directly changes collection name from the Mongo-shell).
3. AND need a Workspace DB where workspace-id is key and

[2017-03-20 19:32] natefaubion commented on #1525
This is #1515

[2017-03-20 19:33] natefaubion commented on #1444
Done.

[2017-03-20 19:33] #1444 closed

[2017-03-20 19:35] jdegoes commented on #1527
There is a [low cost ticket](https://github.com/slamdata/slamdata/issues/1501) already open that will provide a lot of the value for this, which we should do first, and then wait until customers demand more extensive features as noted above.

[2017-03-20 19:38] jdegoes commented on #1456
In general there is no way to know that a collection was renamed / moved (there is no concept of collection identity, so you can tell only if a collection exists, not where it came from, although maybe you could extract this from log data). This applies to MongoDB, HDFS, and probably the other backends. In addition, in realistic usage scenarios, renames of production tables are extraordinarily rar

[2017-03-20 19:48] zeeiyerWork commented on #1525
Ok will close this out.

[2017-03-20 19:49] zeeiyerWork commented on #1525
Duplicate of #1515.

[2017-03-20 19:49] #1525 closed

[2017-03-20 19:53] natefaubion commented on #1313
I'm still somewhat unclear about what this means. Could you possible give me a concrete example that uses this, and what this translates to? Does SQL^2 syntax as is support arbitrary EJSON keys? I'm not sure how this would translate except by EJSON (which is still only a subset of variables, as variables can be arbitrary SQL^2).

I don't fully see how these fit into the dimension picker. Wouldn't

[2017-03-20 19:59] zeeiyerWork commented on #1457
Yes, the **scope** for this is :
1. Prettify Error Messages returned from the underlying store and propagated to the Front-End by Quasar.
2. And also be more explicit to the end-user of which operations are "NOT SUPPORTED" . i.e. expecting that Connectors are implementing a Connector interface (in the May2017 iteration), but in case specific interfaces are *not* implemented by a given connector, t

[2017-03-20 20:04] jdegoes commented on #1313
An author builds a deck that is designed to be embedded in a B2B SAAS application. A developer programmatically sets up the file system so that each customer's data resides in a different directory. The author's deck uses a variable to represent the identifier corresponding to the data for a specific customer. A developer programmatically embeds the deck into the application, feeding it the direct

[2017-03-20 20:04] zeeiyerWork commented on #1456
Yes agreed this is not trivial - I recall that at Terracotta, we did do something similar to reverse engineer the redo-logs of certain RDBMS to detect when external Table-name changes (e.g. from the SQL> prompt) occurred to the schema underneath, to then invalidate the cache.

There is pain currently, where Workspaces have to all be recreated, but agree that this might be a rare event, unless we a

[2017-03-20 20:09] zeeiyerWork commented on #1433
Has dependency on Cache Card quasar-analytics/quasar#1714 , which is not likely to complete until end of 4.2

[2017-03-20 20:50] natefaubion commented on #1313
So this just unquotes whatever is in the var map as an identifier? Can it only select root fields? Should we not provide transform options (which are type directed) for variables?

[2017-03-20 21:02] damonLL commented on #1133
@jdegoes yes I think your description of steps 1 - 3 handle the the request nicely.  Thank you to everyone for putting so much mental 🤔  effort into this!

[2017-03-20 21:07] jdegoes commented on #1313
I think it would be more like `SELECT * FROM :variable`. This, at least, suits the case when it's an identifier.

No, remember that variables have values / defaults, so you can treat them as real data sets, and allow all the same operations, it's just that some analyses that were correct when the author created the deck may not make sense for a runtime-provided value. But that's OK.

[2017-03-20 21:08] jdegoes commented on #1133
@zeeiyerWork Please get this one in as soon as possible, either 4.3 (June) or earlier. This will fix #1296.

[2017-03-20 21:09] damonLL commented on #1447
Since we support SSL via the included [http4s](https://github.com/http4s/http4s) server, but do not support other servers, this issue should be closed.  I will take the liberty of doing so unless someone internally at SlamData objects and it can be reopened.

[2017-03-20 21:09] #1447 closed

[2017-03-20 23:16] zeeiyerWork commented on #1495
This is needed pretty soon. Vincent if you can work with @beckyconning in terms of figuring out how to execute this in 4.2 (ending Apr17).

[2017-03-20 23:24] zeeiyerWork commented on #1527
I agree with @jdegoes -> Seems like if we add the troubleshooting card, we do endup consuming the Phase Result? So let's do that first and we can then revisit this epic to see what else of value, we can add in May2017.

[2017-03-20 23:27] zeeiyerWork commented on #1224
Move to June2017 iteration.

[2017-03-20 23:37] zeeiyerWork commented on #1495
Vincent -> Please work with  @natefaubion , on this one, on second thoughts. Thanks

[2017-03-21 09:37] Cmdv commented on #1495
@zeeiyerWork ok not a problem will get @natefaubion to give me an overview 😄

[2017-03-21 11:17] rabbitonweb commented on #1495
Example config from the repl

[code]

[2017-03-21 12:57] beckyconning commented on #1495
@Cmdv and i have been working on this this morning. will be done today.

[2017-03-21 14:05] garyb commented on #1177
@jdegoes for the very top level of what is seen in the structure editor, should it be the `_id`s for the results? That would kind of be the keys at that level, but I'm not sure if `_id` is a concept that only exists in the mongo connector, or if it's something that is present in all backends.

Or do we automatically flatten the top level into the keys for the records instead?

[2017-03-21 14:50] jdegoes commented on #1177
No, the `_id` is MongoDB specific and should not be specialized in any way. In Quasar 4.3, datasets will probably be uniformly modeled as maps from id to value, in which case we can expose them in the UI, for now do not treat `_id` in any special way or try to present something that Quasar doesn't yet model faithfully (just present it the way it is).

[2017-03-21 14:59] natefaubion commented on #1313
@jdegoes Maybe one option is to provide the current set of variables in the root column of the dimension picker at the start of the list, with maybe a different style treatment. This might make the selection process more streamlined since the vast majority of use cases don't require variables? What do you think?

[2017-03-21 15:01] jdegoes commented on #1313
👍 Sure, I'm open to trying it.

[2017-03-21 15:22] cryogenian opened #1529 "Refactor chart setups"
It's hard to work with. Adding some generalization even with more dynamic types (like StrMap) will be helpful.

This worth to be done before #1445 and #1491

[2017-03-21 17:48] natefaubion opened #1530 "Remove use of `rem` for layout"
We originally used `rem` because we used them in the original grid layout for draftboards. As a relative unit, this is a bit problematic since we sometimes need to make consistent layout decisions based on the size of elements without having to meticulously measure everything.

[2017-03-21 17:49] natefaubion commented on #1351
This needs #1530

[2017-03-21 17:49] natefaubion commented on #1530
This may be a part of #927

[2017-03-22 12:23] #1309 closed

[2017-03-22 14:05] safareli commented on #1021
I have looked for lightweight datepickers and found [flatpickr](https://chmln.github.io/flatpickr/examples/) and it's pretty small (min.js ~ 40kb min.css ~10kb). it supports datetime/date/time/interval picking. There is also [Pikaday](https://github.com/dbushell/Pikaday) but it doesn't support outofthebox interval picking feature.

As I see, we currently support fields of type: time, date, datetim

[2017-03-22 14:18] jdegoes commented on #1021
@safareli We need to be able to generate the full range of: dates, date / times, times, intervals (as defined by the ISO standard) in a visual way that corresponds to what a user expects and works across the major browsers and tablets / smartphones. If flatpickr is such a library, let's do it!

[2017-03-22 15:37] safareli commented on #1021
@beckyconning @garyb @natefaubion can you also take a look at https://chmln.github.io/flatpickr/examples/ to confirm that it's what we need, and in that case, create a empty repo, purescript-flatpickr, to discuss API.

[2017-03-22 15:43] natefaubion commented on #1021
I think it's a very nice library. Not sure about full interval support. You can select a date range, but I don't think it directly supports durations. Maybe it can be extended? I don't think we have any existing inputs that use intervals.

[2017-03-22 15:45] garyb commented on #1021
Looks great for dates, but it's not obvious whether it supports standalone time selections, and yeah, nothing at all for intervals.

The interval format is pretty weird, I don't fully understand it, but it looks like it can express a lot of variations so that's going to be the tricky one to find something existing for I think.

[2017-03-22 15:46] garyb commented on #1021
(The format in question: https://en.wikipedia.org/wiki/ISO_8601#Time_intervals)

[2017-03-22 17:15] safareli commented on #1021
So we want to be able to have ui component to edit/create
- [Date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates)
- [Time](https://en.wikipedia.org/wiki/ISO_8601#Times) (with Time zone support)
- [DateTime](https://en.wikipedia.org/wiki/ISO_8601#Combined_date_and_time_representations)
- [Interval](https://en.wikipedia.org/wiki/ISO_8601#Time_intervals)
  interval could be in 4 formats:
  -

[2017-03-22 17:54] beckyconning opened #1531 "Grouping a unchanged deck causes deck to present "Evaluating deck" forever."
Workaround: refresh.

[2017-03-23 09:44] safareli commented on #1021
do we want to support all this views?
http://codepen.io/safareli/full/dveKZv/

[2017-03-23 09:58] beckyconning commented on #1021
Time, Datetime, and Date should be acceptable for our needs.

[2017-03-23 10:15] garyb commented on #1021
@beckyconning John mentioned above that we want intervals as well.

[2017-03-23 10:45] beckyconning commented on #1021
Ahh yeah that makes sense : )

[2017-03-23 14:51] safareli commented on #1021
@jdegoes do we want to support Repeating intervals too?
If yes, then should we support `Repeating intervals` for Intervals of kind `DateTime/DateTime`?
I'm asking this as it's a bit ambiguous for example which dates are represented using this interval`R5/2000-10-20T10:00:00/2000-10-21T10:00:00`?

I was not able to find any example or explanation for such case. Here is link to [ISO 8601:2004](http:

[2017-03-23 14:57] safareli commented on #1021
Also I was not able to find any database which fully supports Interval as in iso 8601.
Postgresql has [interval](https://www.postgresql.org/docs/9.1/static/datatype-datetime.html#DATATYPE-INTERVAL-INPUT) type but it's more Duration then Interval (or it supports only one (from four) kind of interval  - Duration)

[2017-03-23 15:11] jdegoes commented on #1021
@safareli I'd say let's leave out any infrequently utilized features of the spec, and focus on the ones that everyone uses. As long as we document such limitations, we can address future complaints as requests for enhancement to the core feature. Also I'd get with the #backend team to discuss the true extent of our support for intervals, and maybe base our feature set on there (unless that's too b

[2017-03-23 15:34] safareli commented on #1021
Yeh it would nice.

[2017-03-23 16:18] cryogenian commented on #926
* [ ] introduce theme types in __purescript-echarts__
* [ ] add builder for themes in __purescript-echarts__
* [ ] make echarts in slamdata using default themes, but add a parameter for them.
* [ ] add query parameter like for custom css for catching json and wraps with global var
* [ ] add handler for global variable (namespaced like `SLAMDATA.ECHARTS_THEME`)
* [ ] make slamdata's echarts use or

[2017-03-23 17:53] beckyconning commented on #1530
@natefaubion re our conversation yesterday should i close this ticket?

[2017-03-23 17:54] beckyconning commented on #1495
Done! : )

[2017-03-23 17:54] #1495 closed

[2017-03-23 17:55] beckyconning commented on #1495
i am not sure how to test this, would love to know how. could you help me to do this over screenhero at some point soon @rabbitonweb ?

[2017-03-23 18:17] natefaubion commented on #1530
Yes, let's close this. We will instead make a measurement when we load the app for the `rem` size, and base calculations off of that, as @toastal and @safareli particularly voiced support for sticking with `rem`.

[2017-03-23 18:17] #1530 closed

[2017-03-24 10:41] beckyconning commented on #1290
@damonLL should this include an access token?

[2017-03-24 10:56] beckyconning commented on #1477
Done.

[2017-03-24 10:56] #1477 closed

[2017-03-24 11:11] beckyconning commented on #997
- [ ] Save consumer changes to localstorage and patch them with incompatible author changes on load
- [] Persist show chart card's series selections
- [] Add reset button to revert consumer's changes back to author's values
- [] Make deck evaluation use processes rather than views for cards with variables.

[2017-03-24 14:18] natefaubion opened #1536 "Top menu nub overlaps other workspace UI features"
<img width="609" alt="screen shot 2017-03-24 at 9 18 27 am" src="https://cloud.githubusercontent.com/assets/144058/24298000/aec769aa-1072-11e7-8cc4-0710f3d5ed4a.png">

This is a regression. The deck chrome should appear above the nub.

[2017-03-24 14:24] beckyconning opened #1537 "💣 main.less"

[2017-03-24 15:42] natefaubion opened #1538 "Touch support using PEP"
https://github.com/jquery/PEP

I would like to see if this would be a straightforward change to give us decent touch support. We use mouse events pervasively right now, which is our primary roadblock for good mobile/tablet support. @toastal voiced some success using this in the past, but I'd also like to hear any other opinions.

[2017-03-24 18:33] #1536 closed

[2017-03-24 21:05] jdegoes commented on #1290
@beckyconning I'd suggest we make it so that by default, clicking on a workspace opens it in "view" mode, but clicking on it using wrench / gear icon (same for mount?) opens it in "author" mode.

[2017-03-26 21:28] jdegoes opened #1542 "EPIC: The Hand"
# Introduction

The hand is a clipboard for decks that offers increased usability for authors, allowing them to have fine-grained control on deck placement in deck creation operations (mirroring, copy/paste, cut/paste, etc.), as well as enable a new level of "reuse" of decks (copy/paste).

# Interface

The interface is mocked [here](). The interface consists of a pull tab on the bottom of the Slam

[2017-03-26 21:48] jdegoes opened #1543 "EPIC: Event-Sourced Architecture"
# Introduction

As a stepping stone toward [Unified Undo/Redo](), [Real-time Collaboration](), and [Version Control](), the application needs to be refactored to generate the current state of the deck through monoidal composition of its event history, where events are discrete changes to the deck, such as a user adding a new deck, or wrapping an existing deck.

# Requirements

Currently a deck con

[2017-03-27 12:13] beckyconning commented on #1542
This link links back to this page.

[2017-03-27 12:22] beckyconning commented on #1542
Thanks for speccing this out!

[2017-03-27 14:16] natefaubion commented on #1543
While decks are the primary form of composition, this feature must be workspace centric. To implement mirroring, cards must be shared between decks. While decks are the primary means of composition, as far as the model and evaluation go, they are mostly meaningless. They only serve to construct the card graph. We recently moved away from the deck-centric approach because the implementation demands

[2017-03-27 14:26] safareli commented on #926
Add theme support to purescript-echarts https://github.com/slamdata/purescript-echarts/pull/30

[2017-03-27 18:35] jdegoes commented on #1543
@natefaubion Sure, can you update the description to be more workspace centric?

[2017-03-27 20:34] jdegoes commented on #1542
@beckyconning See new mock and slightly revised specs.

[2017-03-27 21:54] jdegoes opened #1544 "EPIC: Auditing"
# Introduction

Based on #1543, all user actions in an unlicensed or community edition of SlamData need to be tracked via [analytics.js](https://segment.com/docs/sources/website/analytics.js/).

Ideally, this process happens by simple replication of all events to _analytics.js_, combined with whatever information is known about the user (name, email, etc.).

[2017-03-27 22:09] jdegoes opened #1545 "EPIC: Desktop-native bundling"
# Introduction

The desktop-native bundling utilizes Electron to offer a native application experience that bundles all dependencies (including Quasar).

The desktop-native bundling will be ideal for standalone use of SlamData, but of course will not be preferred for multi-user environments.

[2017-03-27 22:10] Cmdv commented on #1544
@jdegoes would user journeys be a good thing to also monitor? Would be interesting to see what parts / routes of the app users hit or seem to spend the most amount of time on. It can be really hard to ascertain feedback from unlicensed or community edition of applications. From experience users tend to hit an issue which they can't solve and become discouraged and stop using the app.

It's also no

[2017-03-27 22:14] jdegoes opened #1546 "EPIC: Rudimentary drilldown"
The rudimentary drilldown feature modifies all charts, including pivot tables, jtables, and geo visualizations, to output the current selection of data, as a set literal (`(1, 2, 3)`).

The set literal can be combined in a subsequent query card to retrieve points in the original data set corresponding to the selected set. This query card can then feed into data visualizations, tables, or other dec

[2017-03-27 22:37] zeeiyerWork opened #1547 "Geocharting: Phase A"

[2017-03-27 22:38] zeeiyerWork opened #1548 "Structure Editor"

[2017-03-27 22:41] zeeiyerWork opened #1549 "Cache Card Improvements: Phase A"

[2017-03-27 22:41] zeeiyerWork opened #1550 "Pivot Table Improvements: Phase A"

[2017-03-27 22:43] zeeiyerWork opened #1551 "Automated Tests: Feature Tests"

[2017-03-27 22:45] zeeiyerWork opened #1552 "Authentication UX/UI Overhaul"

[2017-03-27 22:46] zeeiyerWork opened #1553 "Installation Experience: Improvements Phase A"

[2017-03-27 22:47] zeeiyerWork opened #1554 "Overhaul Workspace Operations: Phase A"

[2017-03-27 22:50] zeeiyerWork opened #1555 "Charting Overhaul: Phase A"

[2017-03-27 22:53] zeeiyerWork opened #1556 "New Device/Interaction Capabilities: Phase A"

[2017-03-27 22:54] zeeiyerWork opened #1557 "Deck Operations Overhaul: Phase A"

[2017-03-27 22:57] zeeiyerWork opened #1558 "Date/Time Handling Overhaul: Phase A"

[2017-03-27 23:00] zeeiyerWork opened #1559 "Front-End Platform Considerations"

[2017-03-27 23:04] zeeiyerWork opened #1560 "Admin Persona: Rudimentary Functionality"

[2017-03-27 23:06] zeeiyerWork opened #1561 "Connector Enablement"

[2017-03-27 23:09] zeeiyerWork opened #1562 "UX Overhaul: Phase A"

[2017-03-27 23:13] zeeiyerWork opened #1563 "Concurrent Author/Viewer Experience Overhaul: Phase A"

[2017-03-27 23:20] zeeiyerWork opened #1564 "Layout Overhaul: Phase A"

[2017-03-27 23:22] zeeiyerWork opened #1565 "UX Improvements (Functional) - Phase A"

[2017-03-27 23:24] zeeiyerWork opened #1566 "epic: Dimension Picker Overhaul: Phase A"
**Children: maintained on a best effort basis:** [#1313]

[2017-03-27 23:25] zeeiyerWork opened #1567 "Overhaul Markdown Handling: Phase A"

[2017-03-27 23:28] zeeiyerWork opened #1568 "Miscellaneous Foo/Bar"

[2017-03-27 23:31] zeeiyerWork opened #1569 ""Prettify" Error messages relayed by the Backend for "human" consumption"

[2017-03-27 23:32] zeeiyerWork opened #1570 ""Unsupported Operation" Exception "classification tag" in JSON returned by Quasar & Relaying it to end-user."

[2017-03-27 23:44] zeeiyerWork commented on #1551
Fix the following:

Currently only a handful of card types are covered. So include exhaustive coverage of all Card Types.
Modify test monad to be able to log debug information that is only printed when a test fails, to make failures easier to interpret
Switch to using purescript-xpath rather than strings
In addition to specific "Actions" or "Verbs", also include more complex scenarios which mirror

[2017-03-27 23:45] #1526 closed

[2017-03-27 23:46] zeeiyerWork commented on #1526
Dupe of another ticket #1551

[2017-03-28 08:12] Cmdv commented on #1442
I have a fix which is achieved with webpack. There is still the potential that Rollup could do a better job with it's DCE but Rollup needs an update as per [#6](https://github.com/Pauan/rollup-plugin-purs/issues/6).

Should I open another issue to investigate doing it with rollup once update hits?

[2017-03-28 11:09] garyb commented on #1442
We can probably hold off on using rollup until psc switches to es6 modules, etc. Just having any minifcation in there is good for now :smile:

[2017-03-28 11:35] Cmdv commented on #1442
@garyb cool, I've had to go to town with it a little as `webpack-stream` isn't updated to `webpack 2`. Will make more sense in the PR 😄

[2017-03-28 15:34] beckyconning commented on #1474
to evaluate a card we construct a module with a function for each previous card which uses a variable.

[2017-03-28 18:15] natefaubion opened #1574 "UI icon overhaul"
We currently use a smattering of things for our day-to-day icon needs (font awesome, glyphicon, some custom ones, even sometimes just text characters that look like icons). We need to replace our existing stuff with something that has a consistent look and feel and usage.

[2017-03-28 18:17] natefaubion opened #1575 "Remove all usage of Bootstrap"
We use Bootstrap for a few things here and there, but most often for icons.

Depends on #1574.

[2017-03-28 20:00] safareli commented on #1574
Will share a bit of experience I had about Icons with svg

I had a css component `Icon`:
[code]

I had svg file for each icon and used them to generate svg sprite using [`gulp-svg-sprite`](https://github.com/jkphl/gulp-svg-sprite)
[code]

In React I had component like this:
[code]

Important part was `fill="currentColor"` using which the icon will inherit `color`.
`viewBox` should also be present

[2017-03-28 20:03] toastal commented on #1574
I was thinking maybe icons from these sorts of sets http://www.flaticon.com/family/smashicons/lineal

[2017-03-28 20:08] safareli commented on #1574
Before that I was using icomoon.io to generate font containing icons I needed. but I think it could be used to also generate SVG sprite.

[2017-03-28 20:09] natefaubion commented on #1574
@safareli I think we'll probably go the SVG route doing something similar to what you've shown.

[2017-03-28 20:14] toastal commented on #1574
@safareli @natefaubion Yeah It's pretty similar, but I haven't touched the CSS part yet. I'm not passing in a string to an icon though--rather generating HTML values for each icon using a helper function. We should be able to just use `.sd-icon { fill: currentColor }` rather than setting values on the intermediary SVGs

[2017-03-28 20:15] safareli commented on #1574
👍 Didn't thought of that :d

[2017-03-29 15:58] beckyconning commented on #1290
I think that makes sense given the way it is being used by our customers.

I.e. one person authors a deck once then many people consume and share the consuming uri of the deck many times.

[2017-03-29 17:24] #1531 closed

[2017-03-30 13:53] beckyconning opened #1578 "Purescript only build process"
No more common.js exported config files and javascript please.

[2017-03-30 15:11] rabbitonweb opened #1579 "Bug: Unable to mount spark-hdfs"
When I try to mount spark-hdfs I get an error (see attachment)

[2017-03-30 15:12] rabbitonweb commented on #1579
<img width="982" alt="screen shot 2017-03-30 at 17 11 53" src="https://cloud.githubusercontent.com/assets/6287558/24511342/0c52e164-156c-11e7-8131-87f7c743c0e6.png">

[2017-03-30 15:14] beckyconning commented on #1579
related to https://github.com/slamdata/slamdata/issues/1495#issuecomment-288807028

[2017-03-30 15:14] rabbitonweb opened #1580 "Bug: unable to mount spark-local"
When trying to mount to local file system using spark-local, nothing happens. I don't get an error, but also dialog window does not disappear.

[2017-03-30 15:15] beckyconning commented on #1580
related to https://github.com/slamdata/slamdata/issues/1495#issuecomment-288807028

[2017-03-30 15:17] rabbitonweb commented on #1580
I'm happy to PP to fix this issue

[2017-03-30 15:17] rabbitonweb commented on #1579
I'm happy to PP to fix this issue

[2017-03-30 15:18] beckyconning commented on #1495
ace : ) could we do this tomorrow morning at 11:00 poland time?

[2017-03-30 15:22] rabbitonweb commented on #1495
@beckyconning yes!

[2017-03-30 16:55] #1313 closed

[2017-03-30 17:48] natefaubion commented on #1579
The issue is that the `SparkHDFS` mount has not been updated to the new format. https://github.com/slamdata/purescript-quasar/blob/master/src/Quasar/Mount/SparkHDFS.purs#L61-L66

[2017-03-30 18:47] natefaubion commented on #1580
Closed via #1581 It will now create the mount.

[2017-03-30 18:47] #1580 closed

[2017-03-30 20:41] natefaubion commented on #1579
I've started working on this, but if anyone is _itching_ to handle all these config options, then they are welcome to it 😆

[2017-03-31 00:12] toastal commented on #1574
![Icons before](https://cloud.githubusercontent.com/assets/561087/24531160/1a72824c-1574-11e7-98c0-0be22713357d.png)
![Icons after](https://cloud.githubusercontent.com/assets/561087/24531161/1a79c67e-1574-11e7-88ec-d1894df92e81.png)

A LOT more head room and labels to increase user-friendliness. Obviously this is a WIP and could use some color differentiation between the toolbar and the actual fil

[2017-03-31 01:12] ryanrockwood opened #1582 "Just starting - is there a snippet?"
Hello - I'm just setting up my first slamdata install ... reading directions. One thing I expected but do not see is a tracking snippet or directions for creating events or adding emails to a user, etc.

Maybe SlamData leaves it up to the user to create our own standards and methods to record the data. But if anyone could let me know for sure I would appreciate it.

Thanks,

Ryan

[2017-03-31 07:56] Cmdv commented on #1574
they look a lot nicer and clearer to understand, though to me they feel miss aligned.
I know the eye is a little smaller, and configure mount a little bigger than all the others but maybe it's to do with the text size and how they wrap making it feel odd.

Could you have a hover state that shows the text on hover?

![slamdata-icons](https://cloud.githubusercontent.com/assets/3036557/24541547/dda04

[2017-03-31 08:54] safareli commented on #1574
A bit related:
[![](https://d13yacurqjgara.cloudfront.net/users/25514/screenshots/1320024/viber-ios7-concept-navigation-bar-ramotion.gif)](https://dribbble.com/shots/1320024-Tab-Bar-Concept-GIF)

[2017-03-31 10:16] Cmdv commented on #1578
100% down for this 👍

[2017-03-31 11:04] garyb commented on #1574
I think labelling the icons is something we should have done from the start, icon-only interfaces are generally considered bad UX for things like menu bars. 👍

@Cmdv we try to avoid using hover for any interactions, as that's not "future safe" - in that it doesn't work for touch interfaces.

[2017-03-31 11:10] Cmdv commented on #1574
you're right wouldn't play well with mobile et cetera and also about having labelling.
How come the `path` input is at the top, intuitively I expect the menu to sit at the top of ui?

[2017-03-31 11:15] garyb commented on #1574
Mostly an accident of history, the search bar used to reside in the header that is now a pulldown thing. But it's also contextual to what you're seeing, since if you search then those actions are not usable - they operate on the current path, and the search results is an aggregation of paths. Having said that, they don't disappear when the search is activated currently either, which they probably

[2017-03-31 11:20] Cmdv commented on #1574
I don't know the workflow of the app well enough yet to be too helpful/opinionated in UI. But trying to make sure I point out things that I'm unsure about, whilst I still have a pair of fresh eyes and all that 😄

[2017-03-31 13:53] beckyconning opened #1583 "Mounting local folder which doesn't exist doesn't present error"

[2017-03-31 15:22] toastal commented on #1574
All ya'll talking about the search bar and spacing... I told you it was a WIP. 😆

What I'm wanting to focus on is just the bar and, more specifically, using a curated linear icon set over the Glyphicons. I feel that adding the labels, while it does take up real estate, it's much more clear--and that value outweighs space. I outlined in a different document the idea of perhaps having a compact UI s

[2017-03-31 15:26] garyb commented on #1574
Generic linear icon chat: they certainly look nice, but I'd be a little concerned about how they look at small sizes. It's not so much of a problem here, as we have the space to show them at a good size w/labels, but when they're used in places like the structure editor (emailed you a link just now @toastal to a mockup), dimension picker, etc. they need to be legible at like 16x16 kinda size too.

[2017-03-31 15:31] Cmdv commented on #1574
to be fair you didn't ask for my opinion, I just happen to give it 😛 .
But it is good to get early feedback as a couple of us can be used as fresh eyes to the whole UI. We've not become accustomed to it so might spot bits that are overlooked, or I could be talking rubbish :)

[2017-03-31 15:35] beckyconning opened #1584 "Unable to remove spark local mount after refreshing"
Instead it deletes the directory. See https://github.com/slamdata/purescript-quasar/issues/30

[2017-03-31 15:37] jdegoes commented on #1574
These icons are a mix of 2D and 3D, and different sizes, with differently sized labels, so it's a bit of a jumble. I'd prefer extreme consistency in the UI icon overhaul—for example, flat icons, the same look and feel, the same dimensions, same label size. The fewer grid lines we break and the more consistency in the style, the cleaner and more polished the UI will look.

[2017-03-31 15:39] toastal commented on #1574
@garyb I was thinking the same. We'd certainly need some thicker ones at small sizes. It depends on your use case. Perhaps `*-lg` or something to differentiate since _most_ of the time, we'd likely want smaller ones.

[2017-03-31 15:39] toastal commented on #1574
@jdegoes Where's the jumble of 2D and 3D?

[2017-03-31 15:41] natefaubion commented on #1574
@toastal the Database icon has perspective on the cylinder.

FWIW, we already have a jumble of 2D vs 3D in our card-type icons :P

[2017-03-31 15:46] beckyconning commented on #1574
very vaguely related to this(?) are these icons which i drew and are already in `public/img/structureEditor`
<img width="756" alt="f0e37f10-dcfe-11e6-9731-1dce5a1900d0" src="https://cloud.githubusercontent.com/assets/457901/24557963/79095ee4-1631-11e7-9172-a091a5b42d1e.png">

[2017-03-31 16:04] #926 closed

[2017-03-31 16:05] toastal commented on #1574
@beckyconning Yeah we could go in that vein of style -- especially since you've done some of the work. @natefaubion @jdegoes I'd disagree with the DB icon since it's like THAT universal symbol for a database, perspective or not. There were a couple other options, but nothing screamed at me "yes, database, connect/add/mount" than that symbol. Something like this would be the only alternative http:/

[2017-03-31 16:07] safareli commented on #1021
@jdegoes any updates on this?

[2017-03-31 16:08] jdegoes commented on #1021
@safareli What information do you need?

[2017-03-31 16:10] jdegoes commented on #1574
@beckyconning Those are good since they are same style and same size (obviously cheating a bit with the frames but that's fine 😉).

[2017-03-31 16:11] toastal commented on #1574
What matters a lot is consistent line weight in this style, so you're going to have to have different icons at larger sizes or the lines will be too fat D:

[2017-03-31 16:43] jdegoes commented on #1021
@safareli This was a suggestion for you to discuss with @sellout or other backend team member. 😉

[2017-03-31 16:43] natefaubion opened #1585 "Redesign mount dialog"
Right now the sizing and placement jumps around on the screen as you select options, and if the content is too big, it scrolls awkwardly and hides the errors.

[2017-03-31 16:51] safareli commented on #1021
oh i misunderstood that :d

[2017-03-31 21:41] zeeiyerWork commented on #1457
@beckyconning  -> Could you explode the children issues here - i.e. sub-tasks associated with "prettification" and clearly enunciating "Not Supported" operations.

[2017-04-03 07:30] cryogenian commented on #1529
fixed in __existential_charts__ branch. I'm opening issue for using `RowCons` for next milestone

[2017-04-03 07:30] #1529 closed

[2017-04-03 07:33] cryogenian opened #1587 "Using `RowCons` to unify handling of different setup chart model."
We can use polymorphic labels to make setup logic more generic using `UnionRows` and `RowCons`

[2017-04-03 07:33] cryogenian commented on #1555
#1587

[2017-04-03 10:36] garyb opened #1588 "Help message for "can't insert card" remembers state after being shown"
For instance, if you try to insert a "Dropdown" form setup, and then go back and try to insert "Preview table", the hint shown will be for "Dropdown" again.

[2017-04-03 10:48] garyb opened #1589 "Mirroring a dashboard card with two form cards resulted in an empty view"
I guess it shouldn't matter which cards we had in the dashboard, but this is how I encountered it. Reloading the browser fixed it.

[2017-04-03 11:06] garyb opened #1590 "Publishing/sharing an "explore" workspace fails"
The workspace fails to decode in the consumer view, I assume because the workspace has not saved first.

[2017-04-03 11:13] garyb opened #1591 "Share dialog message disappears when clicked"
I'm using Quasar community, and the warning that it doesn't work due to needing advanced disappears when you click the error or try and interact with the form.

[2017-04-03 14:17] beckyconning opened #1592 "Dialog appears at top of page regardless of scroll position."

[2017-04-03 14:17] beckyconning commented on #1592
![screen shot 2017-04-03 at 15 17 27](https://cloud.githubusercontent.com/assets/457901/24613610/ade5a1f8-1880-11e7-831a-1edf07a72afa.png)

[2017-04-03 15:09] beckyconning commented on #1290
@damonLL @jdegoes should this include an access token?

[2017-04-03 15:14] jdegoes commented on #1590
@zeeiyerWork Can you see if you can fit this into cleanup?

[2017-04-03 15:14] jdegoes commented on #1591
@zeeiyerWork Can you see if you can fit this into cleanup?

[2017-04-03 15:15] jdegoes commented on #1589
@zeeiyerWork Can you see if you can fit this into cleanup?

[2017-04-03 15:15] jdegoes commented on #1588
@zeeiyerWork Can you see if you can fit this into cleanup?

[2017-04-03 15:16] jdegoes commented on #1585
@zeeiyerWork Can you see if you can fit this into cleanup?

[2017-04-03 15:16] jdegoes commented on #1582
@ryanrockwood There is currently no such feature. It's a good idea. I'll leave the ticket open.

[2017-04-03 15:22] jdegoes commented on #1290
@beckyconning No, definitely not. For other users, they need share permissions; we don't want to bypass that by auto-generating a token in the URL. If the user wants that, she can always flip the deck and share by URL on the backside, which will generate the appropriate token.

[2017-04-03 15:25] ryanrockwood commented on #1582
ok, thanks

[2017-04-03 15:48] beckyconning commented on #1515
Do you think this will be done by 4.2?

[2017-04-03 15:49] cryogenian commented on #1515
Yes

[2017-04-03 15:51] beckyconning commented on #1515
oooh exciting : )

[2017-04-04 09:08] rabbitonweb opened #1595 "Too much details in error message when backend returns physical error"
My connector (both spark-local & spark-hdfs) return now (this feature is not yet merged in master) a `PhysicalError` when trying to mount a second “spark based” connector. Message is shown in the dialog like here

<img width="1020" alt="screen shot 2017-04-04 at 10 27 01" src="https://cloud.githubusercontent.com/assets/6287558/24649310/f63de0a4-1926-11e7-8abb-cf5747aa3749.png">

But I wonder if it

[2017-04-04 13:14] #1588 closed

[2017-04-04 13:27] #1290 closed

[2017-04-04 13:39] natefaubion commented on #1595
This is a general problem throughout the UI: #1569

[2017-04-04 13:39] #1595 closed

[2017-04-04 13:48] kRITZCREEK opened #1598 ""Unshare deck" popup error formatting is off"
![bugphoto](https://cloud.githubusercontent.com/assets/6189397/24659777/03531d64-194e-11e7-939d-831a092d25c3.png)

[2017-04-04 14:15] #1591 closed

[2017-04-04 14:39] #1579 closed

[2017-04-04 17:02] zeeiyerWork commented on #1544
@jdegoes: If it is ok, I would like to rename this Epic as "Phone Home Capabilities". Auditing imho sounded close to "Audit trail" , which may be an enterprise feature we want to offer, around who created/deleted/modified which Mount Point/Workspace at what time. Thanks.

There appears to be 2 portions to this:
1. The actual triggering, transport and persistence of events.
2. Conversion of this ev

[2017-04-04 17:03] zeeiyerWork commented on #1544
Opt-in Versus Opt-out
1. OSS versions have a config defaulted to Yes, but they could mutate and opt-out.
2. Enterprise versions have a config defaulted to No, but they could mutate and opt-in.

[2017-04-04 17:07] jdegoes commented on #1544
You can call it like "phone home", however, this ticket is strictly for replicating an event log into `analytics.js`. Separately, ticket #1543 will log all events into the backend database, where they can be utilized in SlamData dashboards, but there is no work spec'd out for creating such dashboards. Users who want that information will, for now, have to create their own dashboards, though in Adv

[2017-04-04 17:31] natefaubion commented on #1224
Adjusting size based on contents implies that this will create a scrollable container. Unfortunately we still have the issue that we can't have a scrollable container _and_ maintain the deck chrome (and I don't see this problem being solved). Since the chrome pops out of the content box, and a scroll area clips, they are mutually exclusive. Part of the reasoning for dashboards was to remove clippi

[2017-04-04 18:35] natefaubion commented on #1442
Can this be closed? We are now minifiying production builds #1573

[2017-04-04 18:36] garyb commented on #1442
👍

[2017-04-04 18:36] #1442 closed

[2017-04-04 19:00] natefaubion commented on #1497
Done.

[2017-04-04 19:00] #1497 closed

[2017-04-04 19:52] natefaubion commented on #1590
We've gone back and forth on whether or not `Explore` decks should be saved on creation. Right now it's "lazy" like with fresh workspaces. It will wait until you change something in the workspace before persisting it. Sharing/publishing is not picked up as a change to the workspace, so it won't necessarily be persisted. So we can either always save explore workspaces, or we can persist the workspa

[2017-04-04 20:21] garyb commented on #1590
I was thinking we should persist when hitting Publish/Share.

[2017-04-04 20:44] zeeiyerWork commented on #1544
There is a fair bit of latent demand from outbound - towards the ultimate manifestation - which is a dashboard which can answer usage questions and lead qualification -> Jeff said: "What is current plan to get some phone home stuff back in community? Really need to start understanding who is using the CE download? How can we do this sooner?  I need some way to focus sales better."

So while it's t

[2017-04-04 21:01] jdegoes commented on #1544
Jeff's problems will be solved by signing up for one of the numerous analytics providers that can leverage analytics.js. We will not invest any engineering resources in creating a dashboard, so please do not create a ticket. Many of the services supported by analytics.js have dashboards and creators in place already and can be used by non-technical users like Chris and Jeff. The scope of this tick

[2017-04-04 21:18] Cmdv commented on #1544
In regards to having an opt in system, the only information we could really gather from the OSS version would be the IP address.

Because of this all the stats will be anonymous, sharing this fact with the user and letting them know we are collecting this information to help improve the app is far more appealing than _Call Home_.
That term is too attached to trying to stop your app you haven't pai

[2017-04-04 21:33] natefaubion commented on #1510
The issues is that [`PopulateForm`](https://github.com/slamdata/purescript-markdown-halogen/blob/f69007411af8b25fb51c99b6658021d0609b10f9/src/Text/Markdown/SlamDown/Halogen/Component.purs#L129-L140) does something completely different than `ReplaceDocument`, wherein it just replaces the `formState` wholesale. It should be using the same diffing as `ReplaceDocument`.

[2017-04-04 21:55] natefaubion commented on #1510
But it appears what you linked to is broken as well 😆 as it's replacing SelectBox's with Text boxes.

[2017-04-04 22:05] zeeiyerWork commented on #1544
I hear what is being said (I did the same at my previous startup, where for things that were not core, e.g. mining clickstream off quad-analytix.com website, went down Segment.io/Mixpanel route supplemented with Google-analytics). But for things that are core (e.g. visualizations delivered to end-users), preferred to maintain complete ownership.  So the question,. here would be whether we are miss

[2017-04-04 22:09] zeeiyerWork commented on #1544
Also some questions here -> https://docs.google.com/document/d/1OAFqUE5Ir1A8dED7fYFuBo3LibRiInn4r5RmS-83A3U/edit
If it is easier to talk, lmk. Do not want to have to force the followers of this thread to have to type/retype, things that you may have already given thought to :-)

[2017-04-04 22:19] jdegoes commented on #1544
Using a non-technical analytics service is the right move for now, as it consumes zero engineering resources and Exactly meets the non-technical needs of sales and marketing. At some point in the future, we should dogfood, but I have zero appetite to slow progress for something that sales and marketing can self-service for $59/month.

Let's instead, for now, dog food the mantra of not building eve

[2017-04-05 14:18] zeeiyerWork commented on #1544
OK thanks - "bigger fish to fry" is a fair argument. Although this is a juicy high-volume, time-series data-set which would really help kick the tires of what we are releasing. But we can always phase it. Better to be conservative and exceed expectations than promise a lot and fall flat on delivery 😄. Have other questions - sent in a google-doc (accessible to Slam employees, so take a look), but i

[2017-04-05 14:52] zeeiyerWork commented on #1544
To summarize for implementors: @garyb, @Cmdv, @kRITZCREEK (as discussed in the Front-end team meeting):
1. There is no current opt-out in the OSS/Community edition.
2. This ticket is simply about getting "user-info-available + generated-Events" to analytics.js.
3. Given (#2 above), the other ticket (#1543) it therefore, seems a better place to discuss whether the events currently generated can ans

[2017-04-05 15:50] natefaubion commented on #1543
An implementation idea: If we could model the actual events as a `SQL^2` updates to a model in the database, then we could potentially rely on the backend to flatten the model into a snapshot. We could add metadata to the events for purposes of auditing. I have concerns about just using some arbitrary event type we cook up in the frontend, because there's no way to snapshot without losing canonici

[2017-04-05 15:52] #1510 closed

[2017-04-05 15:56] jdegoes commented on #1543
The logic is too complex currently to embed in SQL2, because it requires operational transform, which has a tricky recursive implementation not possible to implement in our current SQL2 dialect.

Because of the mathematical properties of operational transform, snapshots may contain arbitrary subsets of past events, yet they will still resolve to the same version once all events have been retrieved

[2017-04-05 18:04] zeeiyerWork commented on #1543
1. Implementors:  As discussed in the front-end meeting, implementors are likely to be @kRITZCREEK , @Cmdv with help from senior engineers: @garyb, @natefaubion. If no issues, perhaps implementors, can come up with a list of issues/sub-tasks.
2. Timing: There is demand from Outbound team, so this needs to be pulled up into May2017 (and work should commence sooner than later).
3. Additional Questio

[2017-04-05 19:58] garyb commented on #1543
Here's the PR where the previous analytics setup was removed: slamdata/slamdata#1302

It may contain some useful things for reimplementation, such as fetching information about the licensee, which is just about the only way I think we can uniquely identify an installation. These details are (or were, at least - may need to reinstate there?) captured in the installer.

It also could perhaps be used

[2017-04-06 09:51] garyb opened #1602 "Add a script for watching & rebuilding less again"
Previously was under `gulp watch-less` but was lost in the build overhaul / cleanup :)

[2017-04-06 10:53] Cmdv commented on #1602
ah yeah I'll sort that out 👍

[2017-04-06 11:25] Cmdv commented on #1598
fixed #1599 so closing 😄

[2017-04-06 11:25] #1598 closed

[2017-04-06 13:58] #1592 closed

[2017-04-06 14:15] Cmdv opened #1604 "Remove unneeded warnings from tests"
Look into which warnings can be taken out of tests.

![screen shot 2017-04-06 at 15 13 37](https://cloud.githubusercontent.com/assets/3036557/24758939/b6e444e6-1adb-11e7-8db9-01a9d6da7786.png)

[2017-04-06 14:51] amitbed opened #1605 "Error while building SlamData"
Hi.
Inside the README file, the instruction to build was this:  npm run build:prod

I got this error:
[code]

On the website the build instruction was this one: "npm i && bower i && gulp make && gulp bundle && gulp less"

When I tried the second one I didn't get any error but i got this:

[code]

I can't see any "jars" folder.

What did I do wrong?
Thank you!

[2017-04-06 15:07] Cmdv commented on #1605
Hi @amitbed could you check what version of Node you are running on? `node -v`
It might be that you need to upgrade to `v6+`.

Now try running `npm run clean:npm` this will remove folders and re-install packages.
You will most likely still get an error this is because you need to add a Github Auth token.

`GITHUB_AUTH_TOKEN=XXXXXXXX node script/get-quasar.js` with the X's being your token, that wi

[2017-04-06 19:14] beckyconning commented on #1458
I can't for the life of me re-create this. If the error is in SlamData then it will probably be in here though

https://github.com/slamdata/slamdata/blob/43a2e58c24a9ea6be6207ae70dd3cfd66410f505/src/SlamData/ActionList/Action.purs#L244

[2017-04-06 19:18] beckyconning commented on #1458
Yeah I think I see the error here. Can't be a fold if its expressed like this, should be like.... a... could be a foldMap in a cool Monoid but probs just a tailrecm

[2017-04-06 19:46] beckyconning commented on #1458
Going to do the cool monoid approach.

[2017-04-07 07:20] damonLL opened #1610 "Preview Table stripping leading zeros from Strings containing numbers"
MongoDB version 3.4
SlamData version 4.1.5

Given the following MongoDB document:
[code]

Quasar REPL shows the following:

[code]

However, using a Preview Table results in the following display where it removes the leading zero:

![nums-pt](https://cloud.githubusercontent.com/assets/7375598/24789082/d0e2f8f0-1b36-11e7-840d-db05c254907b.png)

Using a Pivot Table instead of a Preview Table produce

[2017-04-07 07:24] damonLL opened #1611 "Download Card stripping leading zeros from Strings containing numbers"
Please see issue #1610 for specifics.  This appears to be closely related.  Perhaps resolving that issue may resolve this as well.

This issue is specifically for the Download Card.  When downloading a CSV file from a SlamData data set, String values such as `0123` are converted into a numeric value without the leading zero such as `123`.

[2017-04-07 11:55] jdegoes commented on #1544
The ticket #1543 can recreate a workspace from its history, therefore, it includes all possible user actions and can therefore be used to answer any question about user behavior. So we should do that ticket first, before this one, also the main point of that ticket is not analytics, but undo/redo, real-time collaboration, and version control—the utility to analytics is just a nice side effect.

Un

[2017-04-07 13:37] garyb opened #1612 "Pressing RETURN/ENTER in Explore dialog doesn't create a workspace"
I assume the form for the dialog does not have the right `onSubmit` handling to deal with it properly, so instead the page is reloading.

[2017-04-07 20:35] natefaubion opened #1614 "Bar chart: combining "stacked" and "parallel" is broken"
When providing options for both "stacked" and "parallel", it tries to stack the parallel dimension. Woah.

[2017-04-08 06:25] sanya-ralhan opened #1616 "Build errors in"
Hi I am just triying my hands on Slamdata and am not able to get the build working
npm run lint:crlf && npm run build:less && gulp bundle

[06:19:30] Using gulpfile ~/slamdata/slamdata/gulpfile.js
[06:19:30] Starting 'replace-crlf'...
[06:19:30] Finished 'replace-crlf' after 12 ms

[06:19:32] Using gulpfile ~/slamdata/slamdata/gulpfile.js
[06:19:32] Starting 'prebundle-filesystem'...
[06:19:32] St

[2017-04-09 08:51] amitbed commented on #1605
Thank you @Cmdv .
I still have problems. I'm not sure I did it right, but I created a token in "Personal access tokens". gave it all of the permissions. and wrote "GITHUB_AUTH_TOKEN" in the description.

Then i had problem with npm install so(after i cleaned the project, so I decided to delete the repository from my computer and clone it once again. So after cloning I wrote:
`SET GITHUB_AUTH_TOKEN

[2017-04-10 09:04] Cmdv commented on #1605
@amitbed The error you got is perfectly fine, that is happening because npm runs a script after `npm install`.
That script is the one that expects `SET GITHUB_...` but because you ran that on it's own already like you mentioned it has downloaded the `quasar.jar` already.

I'll make sure to fix the installing procedures as that is definitely a little confusing when you see an error pop up like that

[2017-04-10 11:30] garyb opened #1617 "Timed hint for next action card appears too early?"
As noticed by @beckyconning while demoing at SlamJam. The issue might need more clarification, I'm not sure how best to describe this particular hint.

[2017-04-10 11:32] garyb opened #1618 "Disallow a dashboard to placed immediately inside a dashboard"
This can lead to a confusing loop of:

1. Next action card
2. Create dashboard
3. Click + icon
4. Goto 1

This seems something that is reasonably likely to occur for someone complete new to the UI.

[2017-04-10 11:57] garyb opened #1619 "Open-ing a `SELECT * FROM <file>` SQL^2 expression variable results in an error"
Need to look a bit more into this, it seems like it should be doing much the same as making a query, although the mount params are formatted a little differently:

SQL^2 expression (named `src`):
[code]

Query:
[code]

[2017-04-10 13:36] jdegoes commented on #1618
What if the user wanted this to occur? Better to focus on easy undo / redo and make sure each operation has a semantic inverse.

[2017-04-10 14:25] garyb commented on #1618
There isn't really a reason to do so directly - it would make sense to do so after having done something like splitting a pane in the first dashboard, but if the dashboard only consists of one card "slot", allowing a dashboard to be placed in that card slot seems like it would only lead to confusion.

This is just an idea to reduce friction, it shouldn't prevent any existing existing functionality

[2017-04-10 14:48] garyb opened #1620 "ExpandGlobalMenu could be implemented in terms of Fulfill"
No need to have a special case for that, we could use a consistent mechanism.

https://github.com/slamdata/slamdata/blob/e95d32efb7e791f9c21e6973ab65f735b9d4d456/src/SlamData/Notification.purs#L48-L50

[2017-04-10 15:09] natefaubion commented on #1618
Maybe we should default to having more than one empty pane? It's a little arbitrary, I guess, but I think it guides the user better than preventing a perfectly cromulent action.

[2017-04-10 15:45] garyb opened #1621 "Magic number in `loadDeck` case for `NeedsEval`"
Queuing with a delay value of `13`:

https://github.com/slamdata/slamdata/blob/e95d32efb7e791f9c21e6973ab65f735b9d4d456/src/SlamData/Workspace/Deck/Component.purs#L514

Could do with a comment or constant or something explaining why this value in particular (I would have thought it equivalent to 0) - or whether we even need to expose a time option for `queueEval`?

[2017-04-10 15:55] natefaubion commented on #1621
When we load a deck and it `NeedsEval`, it should be evaluated. Evaluation can possibly be completely synchronous. It's _very likely_ unnecessary (I don't think there would be any state issues), but it does help break up the work (by a frame). So that when you load a deck, and it needs eval, you don't also eval and do all the rerendering in the same _long_ frame. The reason I didn't use `0` is bec

[2017-04-10 16:01] garyb commented on #1621
Sure, I figured it'd be something like that, just though it would be worth putting something semi descriptive in the code so people don't get stuck on it. @kRITZCREEK and I spent a few minutes trying to figure out if it was meaningful when I was showing him around the code the other day, and I just noticed it again while we were going through the code at SlamJam.

[2017-04-10 16:17] beckyconning opened #1622 "Users not listed in Unshare Deck"

[2017-04-10 16:27] garyb opened #1623 "Detect whether share/unshare features are inactive due to not having QuasarAdv"
Rather than showing this error:

<img width="739" alt="screen shot 2017-04-10 at 17 27 01" src="https://cloud.githubusercontent.com/assets/693642/24871844/ef301ce6-1e12-11e7-8534-417e7c9f0aad.png">

[2017-04-11 21:29] gusgustavo opened #1625 "MongoDB Error: Command failed with error 16996: 'insert for $out failed"
Hi, when I try to make this query,

[code]
I receive this error:
[code]

If both my collections are too big (~100MB), what I should do?

[2017-04-12 10:09] amitbed commented on #1605
Thank you @Cmdv! I've managed to run the app.
I get a distorted UI:
![untitled](https://cloud.githubusercontent.com/assets/11901323/24952643/e1f2b7c2-1f80-11e7-8784-14b65100767d.jpg)

Do you happen to know what's the problem?
Thanks again

[2017-04-12 11:53] beckyconning opened #1626 "UI for providing theme (url) for publish / embed."
The idea is to:
1. Provide the end-user a URL where they'd customize a JSON that corresponds to the style customization they wish to execute.
2. Feature provides validation to make sure the JSON is well formed.
3. Conversion of JSON to CSS, which delivers the end-user customizations.
4. An advantage is robustness, since we can ensure that an end-user does not inject "adverse" CSS.

[2017-04-12 14:59] beckyconning opened #1627 "Add warning when sharing a child deck that permissions will be granted for the entire file."

[2017-04-12 15:01] beckyconning opened #1628 "Remove "workspace" from "create workspace""
Leaving "Create" which create a ".slam" file which when accessed will present a root / top level deck.

[2017-04-12 17:39] Cmdv commented on #1605
@amitbed you would need to run `npm run build:less` as the less hasn't been compiled.

Otherwise if you take a look at `npm run build:prod` [here](https://github.com/slamdata/slamdata/blob/master/package.json#L22) as this will build everything for you.

😄

[2017-04-12 18:25] natefaubion commented on #1584
Is this fixed since it should properly detected as a mount now?

[2017-04-12 18:28] natefaubion commented on #1583
I think this is a backend issue. The spark connector should probably validate the path (we don't have FS access). @rabbitonweb?

[2017-04-12 18:28] natefaubion commented on #1584
Yes, in my testing this is fixed.

[2017-04-12 18:28] #1584 closed

[2017-04-12 19:05] zeeiyerWork opened #1629 "Support configuration options as dictated by revised MetaStore implementation on the Backend."
The Metastore implementation is
- happening in 4.2
- moving from QAdv to Quasar.
- will now allow the user an opportunity to write metastore data to
A> --- In memory store
B> --- H2 file on the local filesystem.
C> --- PostgreSQL instance.

The frontend should support configuration options
- to specify location of H2 file.
- to specify host/port of a PostgreSQL instance.

[2017-04-12 19:13] jdegoes commented on #1629
@zeeiyerWork There is no requirement on front-end configurability (the config file is enough); if anything, that's something we would add to SDA, not SD.

[2017-04-12 19:23] zeeiyerWork opened #1630 "AuthZ UI for Group/Role Creation and User Assignment (instead of Rest Calls)"
Currently supported via https://github.com/damonLL/sdapi. This is not supported by Engineering.

Paying Customers could benefit from an Engineer Supported simple UI that supports Group/Role Creation and User Assignment.

Field confirms this via this exchange:
".... if someone buys Adv edition, they don't want to use a possibly-buggy script that sometimes breaks for their secure analytics solution.

[2017-04-12 19:26] jdegoes commented on #1630
@zeeiyerWork Have we had any request for this? I don't want this scheduled unless there is demand for the feature. Market use of SlamData as a BI-style tool needing group/role creation has not been demonstrated.

[2017-04-12 19:53] zeeiyerWork opened #1631 "Config option to specify which DB to persist analytics (i.e. Slamdata) artifacts to."
1> It might often be the case that in the "buttoned-down" Enterprise:
- Analytics users have READ-ONLY access to the Source Store.
- Therefore they may not be permitted to write to the Source Database.

2> Irrespective of whether the db-user specified in the VFS to a specific target store, has READ or READ/WRITE access:
- There maybe a desire to keep the "operational" DB (or a replica of it) clean

[2017-04-12 20:16] zeeiyerWork opened #1632 "epic: discovery: Next Generation Persona Development"
Currently we assume we have an Author and a Consumer of Analytics as the 2 primary personas that interact with the Slamdata application.

There is an orthogonal concern that the current UI/UX is extremely powerful but with that extreme power comes complexity. Therefore there is an open question, on whether a given User could self-select (e.g. via a Splash screen) and position themselves on a SIMPL

[2017-04-12 20:22] jdegoes commented on #1632
@zeeiyerWork We can leave this open for discussion, but as far as I am concerned, for as long as we have so much work to do on making the application more usable (through additional development), we will not be investing in any sort of "simple" mode. Rather, we'll make the application as a whole simpler. Applications with multiple modalities are extremely uncommon; most professional applications c

[2017-04-12 20:25] jdegoes commented on #1631
@zeeiyerWork Users can already choose which database to store the deck in. What is the new functionality required for such a feature?

[2017-04-12 20:46] zeeiyerWork opened #1633 "Make "Deck Flipping" Actions clearer to the end-user."
The current UX/UI paradigm for "constructing a deck" involves using the Right Gripper and the Left Gripper to navigate forward/backward respectively.

However, an additional user-operation, that the user can do is to "Flip-The-Deck". One way to think of this might be for "operations to execute based on the terminal state of the deck". i.e Publish/Share/Embed/Rename etc.

However, these "terminal-d

[2017-04-12 21:56] zeeiyerWork commented on #1631
My understanding based on chatting with @garyb, @beckyconning is that it is supported in Quasar, but there is no front-end config to specifically ask the user which store they wish to persist analytics artifacts (e.g. Slamdata workspaces) in. If the folks referenced can clarify - If there is nothing to be done, then great - we can close this one out.

[2017-04-12 22:03] zeeiyerWork commented on #1630
I got this from @damonLL , who said that some end-users are unhappy about.Yes, one the one hand it gets repetitive for each Tool to want to specify Roles/User Assignment. but then the flip-side is that one does not want to be the only vendor to leave customers who have paid for the product without it and expect them to rely on a field-provided script, such as the one referenced above....

[2017-04-12 22:06] jdegoes commented on #1630
@zeeiyerWork OK, let me work on specs and mocks and you can schedule it as soon as we have capacity.

[2017-04-12 22:12] zeeiyerWork commented on #1629
We are thinking about improving the overall Installation/Configuration experience.

So there is an open question on whether we should hand hold users (especially paid) through configuration or just expect them to read documentation and edit config file directly. I agree that this is more relevant for advanced/paid-users, for whom we do want to provide more value/differentiation vis-a-vis OSS.

Sho

[2017-04-13 09:37] amitbed commented on #1605
@Cmdv  I run build:less and it worked out :)
For some reson build:prod generated an error for me so I built with:
`npm i && bower i && gulp make && gulp bundle && gulp less`
and then added
`npm run build:less`

Thank you for everything! Just played a bit with SlamData and it's awsome

[2017-04-13 09:40] #1605 closed

[2017-04-13 15:16] zeeiyerWork commented on #1076
@damonLL  - Can this be closed ?

[2017-04-13 15:35] zeeiyerWork commented on #1537
Main.less should only contain imports

[2017-04-13 15:41] jdegoes commented on #1629
@zeeiyerWork Let's create an issue in Advanced, as this type of functionality geared at simplifying ops / deployment does not belong in the community edition.

[2017-04-13 15:43] jdegoes commented on #1631
@zeeiyerWork The UI allows you to put the workspaces anywhere, and as far as I know, workspaces are totally self-contained — they will only and ever be stored exactly where you choose.

Ultimately it would be nice to put all the workspaces in a distributed fallback evaluator, but that requires numerous features (fallback evaluator, quasar clustering, federated queries, etc.).

@garyb @beckyconning

[2017-04-13 16:22] natefaubion commented on #1491
Done

[2017-04-13 16:22] #1491 closed

[2017-04-13 16:37] damonLL commented on #1076
@zeeiyerWork yes, thank you!  Not only does the card indicator at the bottom animate which card is currently processing (nice touch), but if no results are returned, a Pivot Table displays `No results` and a Preview Table displays `Selected resource is empty`.

[2017-04-13 17:05] #1076 closed

[2017-04-13 22:43] zeeiyerWork commented on #1633
Here is a picture of what is being suggested as what the user views upon deck flipping:
![image](https://cloud.githubusercontent.com/assets/24783629/25027213/deb6c120-20a2-11e7-801f-e378a84547b2.png)

[2017-04-13 22:59] zeeiyerWork commented on #1631
Let me attempt to clarify, since the initial description may be a bit lacking:

1.
Yes today, a Slamdata end-user could achieve the above mentioned effect of not "polluting" the source operational databases, by working in an appropriate location in the Virtual File System that represents an "analytics-db". To follow along with the Virtual File System metaphor, this is akin to writing Slamdata work

[2017-04-13 23:01] zeeiyerWork commented on #1630
Thanks @jdegoes and will also move this to SDA?

[2017-04-13 23:01] zeeiyerWork commented on #1629
@jdegoes - will do. Thanks.

[2017-04-14 11:12] zeeiyerWork commented on #1630
This issue was moved to slamdata/slamdata-advanced#67

[2017-04-14 11:12] #1630 closed

[2017-04-14 11:13] zeeiyerWork commented on #1629
This issue was moved to slamdata/slamdata-advanced#68

[2017-04-14 11:13] #1629 closed

[2017-04-14 12:01] zeeiyerWork commented on #1618
I guess this a symptom of the larger issue of whether Card Traversal is always

-  "Prescriptive" (current style), where one  starts @ first-step and ends up @ destination .OR.
-  "Declarative", where one starts @ destination and works backwards to the first-step.

To explain with a metaphor does one go "ATM->Train-Ticket->Board-Train->Destination" (prescriptive) or is it more natural for some use

[2017-04-14 12:16] garyb opened #1635 "Structure editor: enable column filtering with search bar"

[2017-04-14 12:16] garyb opened #1636 "Structure editor: persist view state"
Need to think about how to handle this when the underlying data model changes and the persisted selection is invalidated.

[2017-04-14 14:19] garyb opened #1637 "Structure editor: somehow expose count/frequency information of items"

[2017-04-14 15:23] jdegoes commented on #1637
@garyb This was mocked up as a bar graph in the background.

[2017-04-14 15:34] jdegoes commented on #1631
@zeeiyerWork So essentially, you want the option to create a "parallel universe" mount, which stores any SlamData artifacts, even if they appear to be stored inside of other mounts?

[2017-04-14 15:35] #929 closed

[2017-04-14 15:37] jdegoes commented on #1633
@zeeiyerWork The proper terminology here is "Operations that affect the currently visible card in the deck", and "operations that affect the deck as a whole".

In the current UI, these operations are conflated—a problem we have discussed since the last SlamFest in 2016. Grouping them is a possibility, but they still remain conflated in a grouping proposal.

I'd rather devote more time to figuring

[2017-04-14 16:21] garyb commented on #1637
Yeah, we have that! This was a suggestion/question that @zeeiyerWork had about exposing that as a numeric value, for people who are using the view to explore their data.

[2017-04-14 16:31] zeeiyerWork commented on #1633
Yes this specific change was proposed a quick fix - since I am told it will literally take Delta-time (delta < epsilon) to execute this.

The longer term maybe a:
- Card Flip operation which presents actions associated with the Card.
- Deck Flip operation which presents actions associated with the Deck.
which we perhaps decide on during Slamfest, after weighing pros/cons in greater detail.

[2017-04-14 16:44] zeeiyerWork opened #1639 "AuthZ UI for Group/Role Creation and User Assignment (instead of Rest Calls)"
_From @zeeiyerWork on April 14, 2017 11:12_

_From @zeeiyerWork on April 12, 2017 19:23_

Currently supported via https://github.com/damonLL/sdapi. This is not supported by Engineering.

Paying Customers could benefit from an Engineer Supported simple UI that supports Group/Role Creation and User Assignment.

Field confirms this via this exchange:
".... if someone buys Adv edition, they don't want

[2017-04-14 16:44] zeeiyerWork commented on #1639
_From @jdegoes on April 12, 2017 19:26_

@zeeiyerWork Have we had any request for this? I don't want this scheduled unless there is demand for the feature. Market use of SlamData as a BI-style tool needing group/role creation has not been demonstrated.

[2017-04-14 16:44] zeeiyerWork commented on #1639
I got this from @damonLL , who said that some end-users are unhappy about.Yes, one the one hand it gets repetitive for each Tool to want to specify Roles/User Assignment. but then the flip-side is that one does not want to be the only vendor to leave customers who have paid for the product without it and expect them to rely on a field-provided script, such as the one referenced above....

[2017-04-14 16:44] zeeiyerWork commented on #1639
_From @jdegoes on April 12, 2017 22:6_

@zeeiyerWork OK, let me work on specs and mocks and you can schedule it as soon as we have capacity.

[2017-04-14 16:44] zeeiyerWork commented on #1639
Thanks @jdegoes and will also move this to SDA?

[2017-04-14 16:44] zeeiyerWork commented on #1639
_From @jdegoes on April 14, 2017 15:27_

@zeeiyerWork This one actually belongs in Community. It's a little confusing but all sharing functionality is available in Community but does not work — this is a way of previewing UI features the user will have if they upgrade. Every time a user tries to use a sharing feature, they are reminded they need to upgrade to the Advanced edition. It's like embedd

[2017-04-14 18:15] zeeiyerWork commented on #1631
Some additional detail, since the detail I provided above is still missing the crux of the argument. Consider the picture below.

1. Quite likely that in an enterprise (e.g. a Navteq), DBAs will not give me (a business analyst) write access to source NoSql Dbs which I am using Slamdata against. I therefore will be presented with errors when I mount those DBs and try to save my workspace (given tha

[2017-04-14 18:56] zeeiyerWork commented on #1631
@jdegoes -> And yes the answer to your question is yes. The best practice would be

1. Do one's work specific to the source databases in question, in the corresponding VFS location.

2. That is where the relevant workspaces appear, although are actually getting stored elsewhere as specified in the config since one does not have write-privileges to your source database. This "elsewhere" = preferabl

[2017-04-14 20:52] jdegoes commented on #1631
@zeeiyerWork The postgres metastore is not suitable since it does not support semi-structured data and cannot be queried using SQL<sup>2</sup>. But I get the idea. We have heard many complaints from customers about decks being stored in the database. I will spec this up and get signoff from @damonLL.

[2017-04-14 21:07] zeeiyerWork commented on #1631
Thanks @jdegoes - fyi, It needs to be also noted that the current work around we suggest (when confronted with Source DBs with no write access): of just spinning up your own VFS-Mountable-DB and doing your work therein, also breaks Server-side caching. A simple experiment shows that the end-user gets awarded with this friendly message, when trying to insert a cache card :-). (Will create a separat

[2017-04-14 21:19] jdegoes commented on #1631
@zeeiyerWork This is because intermediate files are stored inside the workspace, and if the workspace is in a different location than the data, then no computation is possible. For such a feature to work properly with the cache card, the intermediate files will need to be stored in the database(s) from which the query originates. This is a front-end feature, but to enable it, it's possible the exi

[2017-04-15 13:08] beckyconning commented on #1522
Done.

[2017-04-15 13:08] #1522 closed

[2017-04-17 12:37] zeeiyerWork opened #1645 ""Chart-Type-Shim" = List of allowable Chart-types that consumer (not author) can choose from."
A fair bit of the competition allows for Chart-Type selection @ runtime - i.e. its a viewer preference and the author leaves it to the consumer to decide between Horizontal-Bar, Vertical-Bar, Stacked-Bar, Pie etc. Chart Types).

With the current implementation, SlamData appears less flexible, since the author needs to a-priori decide (hard code) on a chart type in the Deck and the consumer has to

[2017-04-17 16:19] zeeiyerWork commented on #1632
Thanks @jdegoes. Yes, let's discuss - but it sounds to me that there is a misunderstanding and that could be due to a **slightly misleading initial description**, since it states in one place: "It currently has no implementation component", but it also alludes to multiple modalities via use of phrases like "Simple/ Professional" and "what portions to hide" -> that is incorrect. #mybad.

A> The **i

[2017-04-18 10:51] #1602 closed

[2017-04-19 13:42] toastal opened #1646 "Icon Attribution UI"
In order to use CC BY icons, we need to have a place in the UI to list out who owns what. In the gulpfile, there's an attribution object keyed on user that can be used to create some mark up for use, but I don't know where to best put this. For legal reasons, we need to have this before we can ship the Glyphicon replacement. I heard mention of wanting a dependency listing as well from someone...

[2017-04-19 13:44] #1574 closed

[2017-04-19 20:20] zeeiyerWork opened #1648 "Catpure events we generate today via analytics.js & Segment."
@chrisdima advises front-end to include this script.
@garyb will then deliver a 4.1.6 which enables the requested event-capture.
Future versions will involve sending more "semantically meaningful" events - to give a better understanding of the product is being consumed in OSS.

<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)

[2017-04-19 20:21] garyb commented on #1648
Already done :) Installer link for 4.1.6 is in Slack.

[2017-04-19 22:34] abuibrahim commented on #1639
We are a paid AE customer and would definitely benefit from this.

[2017-04-20 11:14] beckyconning commented on #1458
Done

[2017-04-20 11:14] #1458 closed

[2017-04-20 11:26] beckyconning opened #1650 "Inconsistent primary action ordering."
<img width="381" alt="screen shot 2017-04-20 at 12 24 59" src="https://cloud.githubusercontent.com/assets/457901/25228492/8ae7f45c-25c4-11e7-9c08-d6d7142ba34f.png">
<img width="509" alt="screen shot 2017-04-20 at 12 25 22" src="https://cloud.githubusercontent.com/assets/457901/25228493/8b0d3fb4-25c4-11e7-8d4a-d37966a78496.png">

[2017-04-20 11:29] beckyconning commented on #1650
window.confirm shows the primary action on the right.

<img width="456" alt="screen shot 2017-04-20 at 12 28 37" src="https://cloud.githubusercontent.com/assets/457901/25228595/e731b888-25c4-11e7-96ae-3fc733558388.png">

[2017-04-21 13:33] #1177 closed

[2017-04-21 13:33] #1178 closed

[2017-04-21 13:33] #1635 closed

[2017-04-21 13:33] #1636 closed

[2017-04-21 14:04] natefaubion commented on #1610
I think this is probably the behavior of JTable's inference algorithm. Pivot table doesn't do any inference magic.

[2017-04-21 14:12] natefaubion commented on #1619
This is a backend issue. This is the equivalent of:

[code]

Which doesn't work either (at least for me). In both cases they result in parse errors. Should this parse as a valid query?

[2017-04-21 14:13] cryogenian commented on #1619
Nope, it shouldn't at least quasar's sql^2 parser doesn't think that this is valid query
[code]
should be valid though

[2017-04-21 15:07] Cmdv opened #1652 "add `pulp build` to npm task"

[2017-04-21 15:16] beckyconning commented on #1590
I agree with @garyb. Save the workspace when publishing / embedding / sharing.

[2017-04-21 15:20] beckyconning commented on #1506
Done.

[2017-04-21 15:20] #1506 closed

[2017-04-21 15:54] moazam1 opened #1654 "LESS task is missing"
I have installed everything but now gulp task LESS is failing. Gulp is complaining LESS task is not present. Please help.

[2017-04-21 16:56] garyb commented on #1619
So the variables should be SQL^2-identifier-typed rather than SQL^2-expression-typed? That makes sense, I wasn't sure what it meant in general so was just trying to have it do something.

[2017-04-21 17:04] cryogenian commented on #1619
@garyb
I'm not sure what does expression|identifier-typed means, but this is `ExprRel` case and it for some reason has non-optional `aliasName` field. Here is it https://github.com/cryogenian/purescript-sqlsquare/blob/master/src/SqlSquare/Relation.purs#L19-L39

[2017-04-21 17:05] #1445 closed

[2017-04-21 17:05] #1515 closed

[2017-04-21 17:08] garyb commented on #1619
In "Variables" we have those as two distinct types. If you enter "foo" in

- an SQL^2 identifier field, it should be treated as `` `foo` `` in a query
- an SQL^2 expression field, it should be treated as `foo` in a query

This is what that comment about stripping backticks is about too :)

[2017-04-21 17:16] cryogenian commented on #1619
Not really, this is not variable but relation problem. The part after `from` is a `Relation` and it can be:
+ Variable
+ Backticked Path
+ Join of relations
+ Any sql^2 expression wrapped with parens having an alias.
I think that this one is a bit misuse of `SqlExprFieldType`. Since this is exactly `SELECT blahblahblah` we can wrap it to `ExprRelation` and it will work.

[2017-04-21 17:19] jdegoes commented on #1610
Related problem (maybe different) is adding `.0` to some numbers. I'll see if I can figure out where.

[2017-04-21 17:25] natefaubion commented on #1610
That's probably because of `show :: Number -> String`. I think ideally, we should be using formatters everywhere.

[2017-04-21 18:58] beckyconning commented on #1654
this has now moved to

npm run build:less

[2017-04-24 07:30] amitbed opened #1655 "Queries don't return correct values"
1. The query:
SELECT MAX(TimeM) AS time, X
FROM `/project/db/xTable`
suppose to return the most recent X value from xTable, but insted it returns a table with all of the X values and next to each value, the most recent date:
X      time
4	2017-04-23T09:21:04.939Z
2	2017-04-23T09:21:04.939Z
1	2017-04-23T09:21:04.939Z
90	2017-04-23T09:21:04.939Z

If I delete X from the 'SELECT' so I get just one rec

[2017-04-24 09:11] #1654 closed

[2017-04-24 12:35] beckyconning commented on #1498
Might not occur currently definitely won't occur after #1644 is merged.

[2017-04-24 12:35] #1498 closed

[2017-04-24 15:30] cryogenian commented on #957
@jdegoes Will this work for marker map?
+ There is following dimpickers: lat, lng, size, color + many dynamic
+ For size/measure colors/measure dynamic dims values are aggregated by lat+lng (E.g. there could be a lot of same thing `[{lat: 1.0, lng: 1.0, type: "foo", value: 2}, {lat: 1.0, lng: 1.0, type: "bar", value: 3}]`). OTOH, I can make many points in same location, or don't aggregate dynamic

[2017-04-24 16:35] jdegoes commented on #957
Reviewing now.

[2017-04-24 17:34] jdegoes commented on #957
@cryogenian

1. Let's aggregate duplicates. Many points in the same location are not usable (they cannot be selected, in which case, what's the point of label information?).
2. I don't understand why a user cannot choose just color, without size. In theory, the markers can all be default size, with the color changing between them based on the value of the color dimension.
3. Yes, color dim being c

[2017-04-24 17:37] cryogenian commented on #957
2. So, for only colors can I use circle markers with default size and for no color/size icon markers? E.g. make user select radius in px.

[2017-04-24 17:40] jdegoes commented on #957
2. Yes, user can select radius in px, and it's fixed, with only the color varying as per the color dimension.

[2017-04-24 19:19] jdegoes commented on #1655
1. You forgot a `GROUP BY`.
2. What you wanted is probably:
[code]

[2017-04-24 19:19] #1655 closed

[2017-04-24 20:27] zeeiyerWork commented on #1639
@jdegoes - lmk if you will be ready with specs and if this should be scheduled for the May iteration.

[2017-04-24 20:28] jdegoes commented on #1639
IMO there won’t be time in the May iteration. I’m almost done with specs now, however.

[2017-04-24 21:11] zeeiyerWork commented on #1631
@jdegoes - SlamData Admin UI looks good. Take it you are still specing the solution to the problem in this ticket - correct? Do you reckon this is a July iteration issue?

Will what you are spec'ing address all of the concerns raised herein:

1. In the cases, where write privileges are not available to Source-DBs.
- Need to write Slamdata artifacts to a DB different from Source-DB.
- Need to allow

[2017-04-25 03:07] garyb opened #1660 "Structure Viewer caches input too aggressively"
Altering a query that feeds a structure viewer does not reload the data.

This kind of thing used to be done via `TaggedResource`, I'm not sure how it works now so will need some investigation.

[2017-04-25 04:06] garyb opened #1662 "Structure Editor - Key action: Delete"
We'll be opening issues for every individual action and feature of the structure editor according to the spec/mock. This is one of the simplest actions, but already raises some points that affect most of the other possible actions.

## Description

This option is available for items in a column, where the item is a cursor to a key in a map. Choosing to delete a key will remove this key from all ma